<div class="row">
  <div class="col-md-12 content">

    <div class="col-md-3 hidden-xs hidden-sm sidebar">
      <ul class="nav nav-sidebar ">
        <%= image_tag('paperclip.png', class: 'clippy') %>
        <h2 class='age-group'>Children</h2>
        <p style="color:#00A3DA">Who to contact <br> for more information about...</p>
        <li><a href="/services/children/help_crisis">Help in a Crisis</a></li>
        <hr>
        <li><a href="/services/children/child_advocacy">Child Advocacy</a></li>
        <hr>
        <li><a href="/services/children/health">Child Health & Development</a></li>
        <hr>
        <li><a href="/services/children/support">Supports for Children</a></li>
        <hr>
      </ul>
    </div>

    <div class="col-md-9 organization-content">
      <div class="col-md-6">
        <h3>ORGANIZATIONS</h3>
      </div>
      <div class="col-md-5">
        <h3>PROGRAMS OFFERED</h3>
      </div>

      <% @services&.each do |s| %>
      <div class="col-md-12">
        <hr class="divider">
      </div>

      <div class="col-md-12 ">
        <div class="organization-details">


          <div class="organization-info col-md-6">
            <div class="organization-logo">
              <%= image_tag "program-logo#{rand(1..2)}.png"  %>
            </div>

            <div class="col-md-8 col-sm-7">
              <p><%= s.organization.name %></p>
              <%= link_to 'Learn More', learn_more_path %>
            </div>
          </div>

          <div class="col-md-5">
            <p><%= s.description %></p>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>

</div>


<!-- Fourth section div -->
<%= render 'partials/whatsnew' %>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
