<div class="row">
  <div class="col-xs-12 background-color">
    <div class="hidden-xs hidden-sm col-md-3  sidebar">
      <ul class="nav nav-sidebar ">
        <%= image_tag('paperclip.png', class: 'clippy') %>
        <h2 class='age-group'>Children</h2>
        <p class="font-16" style="color:#00A3DA">Who to contact <br> for more information about...</p>
        <li class="font-16"><a href="/services/children/help_crisis">Help in a Crisis</a></li>
        <hr>
        <li class="font-16"><a href="/services/children/child_advocacy">Child Advocacy</a></li>
        <hr>
        <li class="font-16"><a href="/services/children/health">Child Health & Development</a></li>
        <hr>
        <li class="font-16"><a href="/services/children/support">Supports for Children</a></li>
        <hr>
      </ul>
      <br>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 organization-content">
      <div class="hidden-xs hidden-sm col-md-6">
        <h3 class="bree-font">ORGANIZATIONS</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h3 class="bree-font">SERVICES OFFERED</h3>
      </div>

      <% @load_service.each do |p| %>

      <div class="col-xs-12 col-sm-12 col-md-12">
        <hr class="divider">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="organization-details">
          <div class="organization-info col-xs-12 col-sm-12 col-md-6">
            <div class="organization-logo">
              <%= image_tag p.logo.to_s, class:"img-responsive", style:"object-fit:fill;height:100%"  %>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8">
              <p class="font-20"><%= p.organization.name %></p>
              <!-- <a href="#">Learn More</a> -->
              <%= link_to 'Learn More', service_learn_more_path(p), class:"font-16" %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6">
            <p class="font-20"><%= p.description %></p>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-12 col-md-12 container-fluid center-flex-content bree-font" style="align-items:center;">
        <%= paginate @load_service, window: 2 %>
      </div>
    </div>
  </div>

  </div>


  <!-- Fourth section div -->
  <%= render 'partials/whatsnew' %>

  <!-- Rainbow Footer-->

  <%= render 'partials/footer' %>
