<div class="wholePage">
  <!-- First section div -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

      <%= render 'partials/dash_sidebar' %>

      <div class="col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <div class="container-fluid center-flex-content">
          <div class="create-new-container">
            <br>
            <p class="dashboard-headers">Create Service</p>

            <%= form_for @service do |f| %>
            <div class="form-group">
              <%= f.label :description, class:'label-baseline' %>
              <%= f.text_area :description, class: 'form form-control  event-form-width caps', :required => true %>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :Organization, class:'label-baseline caps' %>
              <div class="form-group event-form-width dropbox-container" style="width:375px !important" >
                <%= f.collection_select :organization_id,
                Organization.all,
                :id,
                :name,
                {},
                { multiple: false, class: 'chosen-select form-control '}
                %>
              </div>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :service_type, class:'label-baseline caps' %>
              <div class="form-group event-form-width dropbox-container" >
                <%= f.collection_select :service_type_id,
                ServiceType.all,
                :id,
                :name,
                {},
                { multiple: false, class: 'form-control '}
                %>
              </div>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :category, class:'label-baseline caps' %>
              <div class="form-group event-form-width dropbox-container" >
                <%= f.collection_select :category_id,
                Category.all,
                :id,
                :name,
                {},
                { multiple: false, class: 'form-control '}
                %>
              </div>
            </div>
                <br>
                <div class="form-group">
                  <%= f.submit class: 'btn btn-primary form-control' %>
                </div>
                <% end %>
                <% else %>
                <%= render 'partials/login_msg' %>
              </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- Rainbow Footer-->

        <%= render 'partials/footer' %>
