<div class="row">
  <div class="col-md-12 content">

    <div class="col-md-3 hidden-xs hidden-sm sidebar">
      <ul class="nav nav-sidebar ">
        <%= image_tag('paperclip.png', class: 'clippy') %>
        <h2 class='age-group'>Pregnancy & Babies</h2>
        <p><a style="color:#00A3DA" href="#">Who to contact <br> for more information about...</a></p>
        <li><a href="#">Help in a Crisis</a></li>
        <hr>
        <li><a href="#">Baby Health & Development</a></li>
        <hr>
        <li><a href="#">Support for Families</a></li>
        <hr>
      </ul>
    </div>

    <div class="col-md-9 organization-content">
      <div class="col-md-6">
        <h3>ORGANIZATIONS</h3>
      </div>
      <div class="col-md-5">
        <h3>PROGRAMS OFFERED</h3>
      </div>

      <% @services&.each do |s| %>
      <div class="col-md-12">
        <hr class="divider">
      </div>

      <div class="col-md-12 ">
        <div class="organization-details">


          <div class="organization-info col-md-6">
            <div class="organization-logo">
              <%= image_tag "program-logo#{rand(1..2)}.png"  %>
            </div>

            <div class="col-md-8 col-sm-7">
              <p><%= s.organization.name %></p>
              <%= link_to 'Learn More', learn_more_path %>
            </div>
          </div>

          <div class="col-md-5">
            <p><%= s.description %></p>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-12 program-details-link">
    <h4>LOOKING FOR SERVICE DETAILS?</h4>
    <div id="organization-button">
      Delta Parks & Rec Website
    </div>
  </div>

</div>

<!-- Fourth section div -->
<div class="outer-blue-container">
<div id="whats-new-board" class="container">

  <div class="row">
    <div class="col-md-12">
      <%= image_tag("whats-new-top.svg", class:"img-responsive center-block whats-new") %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 id="whats-new">What's New</h1>

      <button type="button" name="button" class="btn btn-primary" id="view-all">VIEW ALL</button>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("DeltaKids1.jpg", class:"img-responsive") %>
      <h2 class="new-events">FOOD SKILLS FOR FAMILIES!</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <p class="learn-more">Learn More</p>

    </div>
    <div class="col-md-4">
      <%= image_tag("DeltaKids4.jpg", class:"img-responsive") %>
      <h2 class="new-events">PARENT CHILD LEARNING TOGETHER IS BACK!</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <p class="learn-more">Learn More</p>

    </div>
    <div class="col-md-4">
      <%= image_tag("DeltaKids2.jpg", class:"img-responsive") %>
      <h2 class="new-events">NEW CHILD DEVELOPMENT RESOURCES</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <p class="learn-more">Learn More</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= image_tag("whats-new-bottom.svg", class:"img-responsive center-block whats-new") %>
    </div>
  </div>

  </div>
</div>

<!-- Rainbow Footer-->

<div class="relative-enabler">
  <div class="container-fluid happy-rainbow">
    <div class="row">
      <div class="col-md-12">

        <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

      </div>
     </div>
   </div>
</div>
