<div class="wholePage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

        <%= render 'partials/dash_sidebar' %>

        <div class="col-md-9 dash-main-content" style="background-color:white;">
          <% if user_signed_in? %>
          <% if is_admin? %>
          <div class="row">
            <div class="col-md-12">
                  <div class="container-fluid">
                    <br>

                  <p class="bree-font">Edit Service</p>
                  <p class="font-20"><strong>Description: </strong><%= @service.description %></p>
                  <p class="font-20"><strong>Organization ID: </strong><%= @service.organization_id %></p>
                  <p class="font-20"><strong>Category ID: </strong><%= @service.category_id %></p>
                  <p class="font-20"><strong>Service Type ID: </strong><%= @service.service_type_id %></p>


                      <%= link_to 'Delete', service_path(@service),
                                            method: :delete,
                                            data: {confirm: 'Are you sure?'},
                                            class: 'btn btn-danger edit-delete-btn-width', style:'color:white !important;' %>

                      <%= link_to 'Edit', edit_service_path(@service),
                      class: 'btn btn-success form-padding edit-delete-btn-width'  %>


              </div>
            </div>
          </div>
          <% end %>
          <% else %>
          <%= render 'partials/login_msg' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
