<div class="row">
  <div class="col-md-12 content">

    <div class="col-md-3 hidden-xs hidden-sm sidebar">
      <ul class="nav nav-sidebar ">
        <%= image_tag('paperclip.png', class: 'clippy') %>
        <h2 class='age-group'><%= @age_group %> YEAR OLDS</h2>
        <p style="color:#00A3DA">Who to contact <br> for more information about...</p>
        <li><a href="/programs/6_12/arts_culture">Arts & Culture</a></li>
        <hr>
        <li><a href="/programs/6_12/sports">Sports</a></li>
        <hr>
        <li><a href="/programs/6_12/education">Education</a></li>
        <hr>
        <li><a href="/programs/6_12/parent_child">Parent & Child</a></li>
        <hr>
        <li><a href="/programs/6_12/childcare">Childcare & Preschools</a></li>
        <hr>
      </ul>
    </div>

    <div class="col-md-9 organization-content">
      <div class="col-md-6">
        <h3>ORGANIZATIONS</h3>
      </div>
      <div class="col-md-5">
        <h3>PROGRAMS OFFERED</h3>
      </div>

      <% @programs.each do |p| %>

      <div class="col-md-12">
        <hr class="divider">
      </div>

      <div class="col-md-12 ">
        <div class="organization-details">


          <div class="organization-info col-md-6">
            <div class="organization-logo">
              <%= image_tag "program-logo#{rand(1..2)}.png"  %>
            </div>

            <div class="col-md-8 col-sm-7">
              <p><%= p.organization.name %></p>
              <!-- <a href="#">Learn More</a> -->
              <%= link_to 'Learn More', learn_more_path %>
            </div>
          </div>

          <div class="col-md-5">
            <p><%= p.description %></p>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>

</div>


<!-- Fourth section div -->
<%= render 'partials/whatsnew' %>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
