<div class="row">
  <div class="col-xs-12 background-color">
    <div class="hidden-xs hidden-sm col-md-3 sidebar">
      <ul class="nav nav-sidebar ">
        <%= image_tag('paperclip.png', class: 'clippy') %>
        <h2 class='age-group'><a href="/programs/0_5"><%= @age_group %> YEAR OLDS</a></h2>
        <p class='font-16' style="color:#00A3DA">Who to contact <br> for more information about...</p>
        <li class='font-16'><a href="/programs/0_5/arts_culture">Arts & Culture</a></li>
        <hr>
        <li class='font-16'><a href="/programs/0_5/sports">Sports</a></li>
        <hr>
        <li class='font-16'><a href="/programs/0_5/education">Education</a></li>
        <hr>
        <li class='font-16'><a href="/programs/0_5/parent_child">Parent Child</a></li>
        <hr>
        <li class='font-16'><a href="/programs/0_5/childcare">Childcare & Preschools</a></li>
        <hr>
      </ul>
      <br>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 organization-content">
      <div class="hidden-xs hidden-sm col-md-6">
        <h3 class="bree-font">ORGANIZATIONS</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h3 class="bree-font mobile-font-24">PROGRAMS OFFERED</h3>
      </div>

      <% @load_program.each do |p| %>

      <div class="col-xs-12 col-sm-12 col-md-12">
        <hr class="divider">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="organization-details">
          <div class="organization-info col-xs-12 col-sm-12 col-md-6">
            <div class="organization-logo">
              <%= image_tag p.organization.image.to_s, class:"img-responsive", style:"object-fit:contain;"  %>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-8">
              <p class="font-20"><%= p.organization.name %></p>
              <!-- <a href="#">Learn More</a> -->
              <%= link_to 'Learn More', program_learn_more_path(p), class:"font-16" %>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6">
            <p class="font-20"><%= p.program_description %></p>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-xs-12 col-sm-12 col-md-12 container-fluid center-flex-content bree-font" style="align-items:center;">
        <%= paginate @load_program, window: 2 %>
      </div>
    </div>
  </div>

</div>


<!-- Fourth section div -->
<%= render 'partials/whatsnew' %>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
