<div class="wholePage">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 content">
      <%= render 'partials/dash_sidebar' %>
      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <% if is_admin? %>
        <h1 class="bree-font">Programs</h1>
        <br>
        <% @programs.each do |program| %>
        <p class="font-16"><strong><%= program.organization.name  %></strong>
          <br>
          <%= link_to program.description, program_path(program) %></p>
          <hr>
          <% end %>
        <div class="container-fluid center-flex-content bree-font" style="align-items:center;">
          <%= paginate @programs, window: 2 %>
        </div>
        <% end %>
        <% else %>
        <%= render 'partials/login_msg' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
