<div class="wholePage">
  <!-- First section div -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

      <%= render 'partials/dash_sidebar' %>

      <div class="col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <div class="container-fluid center-flex-content">
          <div class="create-new-container">
            <br>
            <p class="dashboard-headers">Create Program</p>

            <%= form_for @program do |f| %>
            <div class="form-group">
              <%= f.label :description, class:'label-baseline' %>
              <%= f.text_area :description, class: 'form form-control form-padding event-form-width caps', :required => true %>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :registration, class:'label-baseline caps' %>
              <div class="margin-right">
                <%= f.radio_button(:registration, "Registered") %>
                <%= label_tag(:registration, "Registered", class:'radio-spacing') %>
                <%= f.radio_button(:registration, "Drop In") %>
                <%= label_tag(:registration, "Drop In", class:'radio-spacing') %>
              </div>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :cost, class:'label-baseline caps' %>
              <div class="margin-right">
                <%= f.radio_button(:cost, "Free") %>
                <%= label_tag(:cost, "Free", class:'radio-spacing') %>
                <%= f.radio_button(:cost, "Paid") %>
                <%= label_tag(:cost, "Paid", class:'radio-spacing') %>
              </div>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :service , "Activity Type", class:'label-baseline', style:'align-self: center; padding-right: 5%' %>
              <div class="">
                <%= check_box_tag(:education) %>
                <%= label_tag(:education, "Education", class:'radio-spacing') %>
                <%= check_box_tag(:sports) %>
                <%= label_tag(:sports, "Sports", class:'radio-spacing') %>
                <%= check_box_tag(:health) %>
                <%= label_tag(:health, "Health", class:'radio-spacing') %>
                  <div class="">
                    <%= check_box_tag(:art_and_culture) %>
                    <%= label_tag(:art_and_culture, "Art & Culture", class:'radio-spacing') %>
                  <%= check_box_tag(:entertainment) %>
                  <%= label_tag(:entertainment, "Entertainment", class:'radio-spacing') %>
                </div>
              </div>
            </div>
                <br>
                <div class="form-group">
                  <%= f.submit class: 'btn btn-primary form-control' %>
                </div>
                <% end %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- Rainbow Footer-->

        <%= render 'partials/footer' %>
