<div class="wholePage">
  <!-- First section div -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 content">

      <%= render 'partials/dash_sidebar' %>

      <% if user_signed_in? %>
      <% if is_admin? %>
      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content" style="background-color:white;">
        <div class="">
          <br>
          <p class="dashboard-headers mobile-font-24">Create Program</p>

          <%= form_for @program do |f| %>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :description, class:'' %>
            <%= f.text_area :description, class: 'form form-control   caps', :required => true %>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :registration, class:' caps' %>
            <div class="">
              <%= f.radio_button(:registration, "Drop In") %>
              <%= label_tag(:registration, "Drop In", class:'radio-spacing') %>
              <%= f.radio_button(:registration, "Registered",:checked => true) %>
              <%= label_tag(:registration, "Registered", class:'radio-spacing') %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :cost, class:' caps' %>
            <div class="">
              <%= f.radio_button(:cost, "Free") %>
              <%= label_tag(:cost, "Free", class:'radio-spacing') %>
              <%= f.radio_button(:cost, "Paid",:checked => true) %>
              <%= label_tag(:cost, "Paid", class:'radio-spacing') %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :program_type, class:' caps' %>
            <div class="form-group  dropbox-container">
              <%= f.collection_select :program_type_id,
              ProgramType.all,
              :id,
              :name,
              {},
              { multiple: false, class: 'form-control '}
              %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :Organization, class:' caps' %>
            <div class="form-group  dropbox-container" >
              <%= f.collection_select :organization_id,
              Organization.all,
              :id,
              :name,
              {},
              { multiple: false, class: 'chosen-select form-control '}
              %>
            </div>

          </div>
          <br>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field" style="padding-bottom:10%;">
            <%= f.submit class: 'btn btn-primary form-control  ' %>
          </div>
          <% end %>
        </div>
      </div>
      <% else %>
      <%= render 'partials/login_msg' %>
      <% end %>
      <% else %>
      <%= render 'partials/login_msg' %>
      <% end %>

    </div>
  </div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
