<div class="wholePage">
  <div class="row">
    <div class="col-xs-12 content">

      <%= render 'partials/dash_sidebar' %>

      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <div class="col-xs-12">
          <div class="container-fluid">
            <br>

            <p class="bree-font mobile-font-24">Edit Program</p>
            <p class="font-20"><strong>Description: </strong><%= @program.program_description %></p>
            <p class="font-20"><strong>Registration: </strong><%= @program.registration %></p>
            <p class="font-20"><strong>Cost: </strong><%= @program.cost %></p>
            <p class="font-20"><strong>Organization: </strong><%= @program.organization.name %></p>
            <div class="" style="max-height:300px; max-width:500px; margin:5% auto 7% auto;">
              <%= image_tag(@program.image_url.to_s, style:"max-height:300px; max-width:500px") %>
            </div>
            <br>
            <% if is_admin? %>
            <div class="center-flex-content">

              <%= link_to 'Edit', edit_program_path(@program),
              class: 'btn btn-success form-padding edit-delete-btn-width',style:"margin-right:5%;"  %>

              <%= link_to 'Delete', program_path(@program),
              method: :delete,
              data: {confirm: 'Are you sure?'},
              class: 'btn btn-danger edit-delete-btn-width', style:'color:white !important;' %>
            </div>
            <br>
            <% end %>
          </div>
        </div>
        <% else %>
        <div>
          <p>
            Dashboard section is meant to publish a Resource and/or Event. In order to proceed you must have an account with us. Please Log In or create a New User.
            <br>
            <!-- <%= link_to 'New User', signup_path, class: 'top-right-panel' %>&nbsp -->
            <!-- <div class="">
            <%= link_to 'Log In', login_path, class: 'top-right-panel' %>&nbsp
          </div> -->
        </p>
        <br>
        <p>
          If you don't want to proceed, please feel free to go elsewhere in our site.
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
