<div class="wholePage">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 content">

      <%= render 'partials/dash_sidebar' %>

      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <% if is_admin? %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="container-fluid">
              <br>
              <p class="bree-font">Edit Program</p>
              <p class="font-20"><strong>Description: </strong><%= @program.description %></p>
              <p class="font-20"><strong>Registration: </strong><%= @program.registration %></p>
              <p class="font-20"><strong>Cost: </strong><%= @program.cost %></p>
              <p class="font-20"><strong>Organization: </strong><%= @program.organization.name %></p>
              <div class="">
                <%= image_tag(@program.image_url.to_s, style:"width:100%;height:100%") %>
              </div>
              <br>
              <br>

              <div class="center-flex-content">
                <%= link_to 'Edit', edit_program_path(@program),
                class: 'btn btn-success edit-delete-btn-width'  %>

                <%= link_to 'Delete', program_path(@program),
                method: :delete,
                data: {confirm: 'Are you sure?'},
                class: 'btn btn-danger form-padding edit-delete-btn-width', style:'color:white !important;' %>
              </div>

              <br>

            </div>
          </div>
        </div>
        <% else %>
        <%= render 'partials/login_msg' %>
        <% end %>
        <br>
      </div>
    </div>
  </div>
  </div>
  <% else %>
  <%= render 'partials/login_msg' %>
</div>
</div>
</div>
<% end %>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
