<div class="hidden-xs col-sm-4 col-md-3 dash-sidebar">
  <ul class="nav nav-sidebar ">
    <%= image_tag('paperclip.png', class: 'clippy') %>
    <h2 class="dashboard-headers2">Dashboard</h2>
    <% if user_signed_in? %>
    <% if is_admin? %>
    <p class="font-16" style="color:#00A3DA">Welcome to the Admin Dashboard,
      <br>what would you like to do today?</p>
      <br>

      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Pending</p>
          <a data-toggle="collapse" data-toggle="chevron-anchor" data-target=".collapse-pending" class="chevron-anchor"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>

        </div>
        <div class="collapse-pending collapse in">
          <br>
          <li>
            <a href="<%= dashboard_pending_and_approved_events_path %>" class="dashboard-text">Pending Events (<%= Event.where(:approved => false || nil).count  %>)</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= dashboard_pending_and_approved_resources_path %>" class="dashboard-text">Pending Resources (<%= Resource.where(:approved => false || nil).count  %>)</a>
          </li>
        </div>
      </div>
      <hr class="nav-hr">
      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Manage</p>
          <a data-toggle="collapse" data-toggle="chevron-anchor" data-target=".collapse-manage" class="chevron-anchor"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>

        </div>
        <div class="collapse-manage collapse in">
          <br>
          <li>
            <a href="<%= dashboard_manage_whats_new_items_path %>" class="dashboard-text">What's New Items Index</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= dashboard_manage_events_path %>" class="dashboard-text">Events Index</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= dashboard_manage_resources_path %>" class="dashboard-text">Resources Index</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= dashboard_manage_programs_path %>" class="dashboard-text">Programs Index</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= dashboard_manage_services_path %>" class="dashboard-text">Services Index</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= dashboard_manage_organizations_path %>" class="dashboard-text">Organizations Index</a>
          </li>
        </div>
        <hr class="nav-hr">
      </div>

      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Add</p>
          <a data-toggle="collapse" data-toggle="chevron-anchor" data-target=".collapse-add" class="chevron-anchor"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>

        </div>
        <div class="collapse-add collapse in">
          <br>
          <li>
            <a href="<%= new_whats_new_item_path %>" class="dashboard-text">Add What's New Item</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= new_event_path %>" class="dashboard-text">Add New Event</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= new_resource_path %>" class="dashboard-text">Add New Resource</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= new_organization_path %>" class="dashboard-text">Add New Organization</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= new_program_path %>" class="dashboard-text">Add New Program</a>
          </li>
          <hr class="nav-hr">
          <li>
            <a href="<%= new_service_path %>" class="dashboard-text">Add New Service</a>
          </li>
          <!-- <hr class="nav-hr">
          <li>
          <a href="<%= new_program_type_path %>" class="dashboard-text">Add New New Activity Type</a>
        </li> -->
      </div>
      <hr class="nav-hr">
    </div>

    <li><%= link_to 'Sign Out', signout_path, method: :delete, class:"dashboard-text" %></li>
    <hr class="nav-hr">
    <% else %>
    <li>
      <h4 style="color:#00a3da">Hello <%= current_user.first_name %>, what would you like to do today?
      </h4>
    </li>
    <li>
      <a href="<%= dashboard_manage_events_path %>" class="dashboard-text">Events Index</a>
    </li>
    <hr class="nav-hr">
    <li>
      <a href="<%= dashboard_manage_resources_path %>" class="dashboard-text">Resources Index</a>
    </li>
    <hr class="nav-hr">
    <li>
      <a href="<%= new_event_path %>" class="dashboard-text">Add New an Event</a>
    </li>
    <hr class="nav-hr">
    <li>
      <a href="<%= new_resource_path %>" class="dashboard-text">Add New a Resource</a>
    </li>
    <hr class="nav-hr">
    <li><%= link_to 'Sign Out', signout_path, method: :delete, class:"dashboard-text" %></li>
    <hr class="nav-hr">
    <% end %>
    <% else %>
    <p class="font-16" style="color:#00A3DA">Welcome to the Dashboard,
      <br>what would you like to do today?</p>
      <li>
        <a href="<%= signup_path %>" class="dashboard-text">New User</a>
      </li>
      <hr class="nav-hr">
      <li>
        <a href="<%= login_path %>" class="dashboard-text">Log In</a>
      </li>
      <hr class="nav-hr">
      <% end %>
    </ul>
  </div>
