<div class="col-md-3 dash-sidebar">
  <ul class="nav nav-sidebar ">
    <%= image_tag('paperclip.png', class: 'clippy') %>
    <h2 class="dashboard-headers2">Dashboard</h2>
    <% if user_signed_in? %>
    <li>
      <h4 style="color:#00a3da">Hello <%= current_user.first_name %>, what would you like to do today?
    </h4>
    </li>
      <li>
        <a href="<%= new_event_path %>" class="dashboard-text">Add an Event</a>
      </li>
      <hr>
      <li>
        <a href="<%= new_resource_path %>" class="dashboard-text">Add a Resource</a>
      </li>
      <hr>
      <li><%= link_to 'Sign Out', signout_path, method: :delete, class:"dashboard-text" %></li>
      <hr>
      <% if is_admin? %>
    <h4 style="color:#00a3da;">Admin</h4>
    <li>
      <a href="<%= new_organization_path %>" class="dashboard-text">Add Organization</a>
    </li>
    <hr>
    <li>
      <a href="<%= new_program_type_path %>" class="dashboard-text">New Activity Type</a>
    </li>
    <hr>
    <li>
      <a href="<%= dashboard_manage_programs_path %>" class="dashboard-text">Manage Programs</a>
    </li>
    <hr>
    <li>
      <a href="<%= dashboard_manage_services_path %>" class="dashboard-text">Manage Services</a>
    </li>
    <hr>
    <li>
      <a href="<%= dashboard_manage_organizations_path %>" class="dashboard-text">Manage Organizations</a>
    </li>
    <hr>
    <li>
      <a href="<%= dashboard_pending_and_approved_events_path %>" class="dashboard-text">Pending/Approved Events</a>
    </li>
    <hr>
    <li>
      <a href="<%= dashboard_pending_and_approved_resources_path %>" class="dashboard-text">Pending/Approved Resources</a>
    </li>
    <% end %>
    <% else %>
    <p><a style="color:#00A3DA" href="<%= contact_path %>">Who to contact <br> for more information about...</a></p>
    <li>
      <a href="<%= signup_path %>" class="dashboard-text">New User</a>
    </li>
    <hr>
    <li>
      <a href="<%= login_path %>" class="dashboard-text">Log In</a>
    </li>
    <hr>
  </ul>
  <% end %>
</div>
