<!-- First section div -->
<div class="calendar-section1 calendar-section1-container" id="calendar-section1">
  <div class="container-fluid">
    <div class="row calendar-row">
      <div class="col-xs-hidden col-sm-hidden col-md-3" id="calendar-subsection1">
        <%= image_tag "filter-header.svg", class: " filter-header-img"  %>
        <br>
        <br>
    <div class="">
      <%= form_tag(events_path, method: :get) do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, class:'btn-primary' %>
      <br>
      <br>
      <div class="form-group">
        <%= label_tag  "by_start_date", "Start Date" %>
        <%= text_field_tag "by_start_date",Date.current(), placeholder: "YYYY/MM/DD", class: 'datepicker form date-time-width form-padding' %>
        <br>
        <%= label_tag  "by_end_date", "End Date", style:"padding-right:6px;" %>
        <%= text_field_tag "by_end_date",Date.current() + 1.month, placeholder: "YYYY/MM/DD", class: 'datepicker form form-padding date-time-width' %>
      </div>
    </div>
    <br>
    <div class="filterCard">
      <div class="filter-header-container">
        <p class="filterCard-header1">For</p>
        <a data-toggle="collapse" data-target=".collapse-for" class="chevron-anchor"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>

      </div>
      <div class="collapse-for collapse in">
        <%= check_box_tag("event_age_group[]","1", "checked") %>
        <%= label_tag(:event_age_group, "0-5 year olds", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_age_group[]","2", "checked") %>
        <%= label_tag(:event_age_group, "6-12 year olds", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_age_group[]","3","checked") %>
        <%= label_tag(:event_age_group, "Adults", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_age_group[]","4", "checked") %>
        <%= label_tag(:event_age_group, "N/A", class:'radio-spacing font-16', style:"margin-right:0;") %>
        <br>
        <hr/ class="filterCard-line">
      </div>
    </div>

    <div class="filterCard">
      <div class="filter-header-container">
        <p class="filterCard-header1">Where</p>
        <a data-toggle="collapse" data-target=".collapse-where"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron" %></a>
      </div>
      <div class="collapse-where collapse in">
        <%= check_box_tag("event_location[]", "Ladner", "checked") %>
        <%= label_tag(:event_location, "Ladner", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_location[]","North Delta", "checked") %>
        <%= label_tag(:event_location, "North Delta", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_location[]","Tsawwassen", "checked") %>
        <%= label_tag(:event_location, "Tsawwassen", class:'radio-spacing font-16') %>
        <br>
        <hr/ class="filterCard-line">
      </div>
    </div>

    <div class="filterCard">
      <div class="filter-header-container">
        <p class="filterCard-header1">Registration</p>
        <a data-toggle="collapse" data-target=".collapse-registration" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>

      </div>
      <div class="collapse-registration collapse in">
        <%= check_box_tag("registration[]","Drop-in", "checked") %>
        <%= label_tag(:registration, "Drop in Program", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("registration[]","Registration Required", "checked") %>
        <%= label_tag(:registration, "Pre-registration", class:'radio-spacing font-16') %>
        <br>
        <hr/ class="filterCard-line">
      </div>
    </div>

    <div class="filterCard">
      <div class="filter-header-container">
        <p class="filterCard-header1">Cost</p>
        <a data-toggle="collapse" data-target=".collapse-cost"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
      </div>
      <div class="collapse-cost collapse in">
        <%= check_box_tag("cost[]","Free", "checked") %>
        <%= label_tag(:cost, "Free", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("cost[]","Paid", "checked") %>
        <%= label_tag(:cost, "Paid", class:'radio-spacing font-16') %>
        <br>
        <hr/ class="filterCard-line">
      </div>
    </div>

    <div class="filterCard">
      <div class="filter-header-container">
        <p class="filterCard-header1">Type of Event</p>
        <a data-toggle="collapse" data-target=".collapse-typeof"><%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron a-chevron" %></a>

      </div>
      <div class="collapse-typeof collapse in">
        <%= check_box_tag("event_type[]", 1, "checked") %>
        <%= label_tag(:event_type, "Arts & Culture", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_type[]", 2, "checked") %>
        <%= label_tag(:event_type, "Parent & Child", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_type[]", 3, "checked") %>
        <%= label_tag(:event_type, "Childcare & Preschools", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_type[]", 4, "checked") %>
        <%= label_tag(:event_type, "Sports", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_type[]", 5, "checked") %>
        <%= label_tag(:event_type, "Community Clubs", class:'radio-spacing font-16') %>
        <br>
        <%= check_box_tag("event_type[]", 6, "checked") %>
        <%= label_tag(:event_type, "Education", class:'radio-spacing font-16') %>
        <br>
        <hr/ class="filterCard-line">
      </div>
    </div>
    <br>
    <div class="center-flex-content">
      <%= submit_tag 'Filter', class:"btn-primary btn-lg filter-btn" %>
    </div>
    <% end %>
    <div class="center-flex-content">
      <%= button_to "Create New Event", new_event_path, :method => "get", class:"btn-primary btn-lg filter-btn" %>
    </div>
  </div>
