
<%= image_tag "filter-header.svg", class: " filter-header-img"  %>
<br>
<br>
<div class="">
  <%= form_tag("/map#results", method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, class:'btn-primary' %>
  <br>
  <br>
  <div class="form-group">
    <%= label_tag  "by_start_date", "Start Date" %>
    <%= text_field_tag "by_start_date",Date.current(), placeholder: "YYYY/MM/DD", class: 'datepicker form date-time-width form-padding' %>
    <br>
    <%= label_tag  "by_end_date", "End Date", style:"padding-right:6px;" %>
    <%= text_field_tag "by_end_date",Date.current() + 1.month, placeholder: "YYYY/MM/DD", class: 'datepicker form form-padding date-time-width' %>
  </div>
</div>
<br>
<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">For</p>
    <a data-toggle="collapse" data-toggle="chevron-anchor" data-target=".collapse-for" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>

  </div>
  <div class="collapse-for collapse in checkbox-container">
    <%= hidden_field_tag "age_group[]", '0' %>
    <label class="category-select font-16">
      <%= check_box_tag 'age_group[]', '1', "checked" %>
      &nbsp&nbsp0-5 year olds
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'age_group[]', '2', "checked" %>
      &nbsp&nbsp6-12 year olds
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'age_group[]', '3', "checked" %>
      &nbsp&nbspAll Ages
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'age_group[]', '4', "checked" %>
      &nbsp&nbspN/A
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>

<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Where</p>
    <a data-toggle="collapse" data-target=".collapse-where" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron" %></a>
  </div>
  <div class="collapse-where collapse in checkbox-container">
    <%= hidden_field_tag "event_location[]", '' %>
    <label class="category-select font-16">
      <%= check_box_tag 'event_location[]', 'Ladner', "checked" %>
      &nbsp&nbspLadner
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'event_location[]', 'North Delta', "checked" %>
      &nbsp&nbspNorth Delta
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'event_location[]', 'Tsawwassen', "checked" %>
      &nbsp&nbspTsawwassen
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>

<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Registration</p>
    <a data-toggle="collapse" data-target=".collapse-registration" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>

  </div>
  <div class="collapse-registration collapse in checkbox-container">
    <%= hidden_field_tag "registration[]", '' %>
    <label class="category-select font-16">
      <%= check_box_tag 'registration[]', 'Drop In', "checked" %>
      &nbsp&nbspDrop in Program
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'registration[]', 'Registered', "checked" %>
      &nbsp&nbspPre-registration
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>

<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Cost</p>
    <a data-toggle="collapse" data-target=".collapse-cost" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>
  </div>
  <div class="collapse-cost collapse in checkbox-container">
    <%= hidden_field_tag "cost[]", '' %>
    <label class="category-select font-16">
      <%= check_box_tag 'cost[]', 'Free', "checked" %>
      &nbsp&nbspFree
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'cost[]', 'Paid', "checked" %>
      &nbsp&nbspPaid
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>

<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Type of Event</p>
    <a data-toggle="collapse" data-target=".collapse-typeof-event" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron" %></a>

  </div>
  <div class="collapse-typeof-event collapse in checkbox-container">
    <%= hidden_field_tag "event_type[]", '0' %>
    <label class="category-select font-16">
      <%= check_box_tag 'event_type[]', '1', "checked" %>
      &nbsp&nbspArts & Culture
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'event_type[]', '2', "checked" %>
      &nbsp&nbspParent & Child
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'event_type[]', '3', "checked" %>
      &nbsp&nbspChildcare & Preschools
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'event_type[]', '4', "checked" %>
      &nbsp&nbspSports
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'event_type[]', '5', "checked" %>
      &nbsp&nbspCommunity Clubs
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'event_type[]', '6', "checked" %>
      &nbsp&nbspEducation
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>
<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Type of Program</p>
    <a data-toggle="collapse" data-target=".collapse-typeof-program" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron" %></a>

  </div>
  <div class="collapse-typeof-program collapse in checkbox-container">
    <%= hidden_field_tag "program_type[]", '0' %>
    <label class="category-select font-16">
      <%= check_box_tag 'program_type[]', '1', "checked" %>
      &nbsp&nbspArts & Culture
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'program_type[]', '2', "checked" %>
      &nbsp&nbspParent & Child
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'program_type[]', '3', "checked" %>
      &nbsp&nbspChildcare & Preschools
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'program_type[]', '4', "checked" %>
      &nbsp&nbspSports
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'program_type[]', '5', "checked" %>
      &nbsp&nbspCommunity Clubs
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'program_type[]', '6', "checked" %>
      &nbsp&nbspEducation
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'program_type[]', '7', "checked" %>
      &nbsp&nbspSchool Break Camps
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>

<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Type of Service</p>
    <a data-toggle="collapse" data-target=".collapse-typeof-service" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron" %></a>

  </div>
  <div class="collapse-typeof-service collapse in checkbox-container">
    <%= hidden_field_tag "service_type[]", '0' %>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '1', "checked" %>
      &nbsp&nbspChild Advocacy
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '2', "checked" %>
      &nbsp&nbspArts & Culture
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '3', "checked" %>
      &nbsp&nbspHealth & Development
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '4', "checked" %>
      &nbsp&nbspHelp in a Crisis
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '5', "checked" %>
      &nbsp&nbspSupports for Children
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '6', "checked" %>
      &nbsp&nbspAssistance with fees
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '7', "checked" %>
      &nbsp&nbspChildcare & Preschool
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '8', "checked" %>
      &nbsp&nbspSupports for families
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'service_type[]', '9', "checked" %>
      &nbsp&nbspMeals
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>
<br>
<div class="center-flex-content">
  <%= submit_tag 'Filter', class:"btn-primary btn-lg filter-btn" %>
</div>
<% end %>
<div class="center-flex-content">
  <%= button_to "Create New Event", new_event_path, :method => "get", class:"btn-primary btn-lg filter-btn" %>
</div>

<% if @map_search_results.total_count == 0 %>
<%= image_tag("girl-search-not-found-with-rainbow.svg",style:"width:100%;height:350px;") %>
<%= image_tag("cloud1.png",style:"width:100%;height:75px; transform: scaleY(-1); position:relative; bottom:45px") %>
<%= image_tag("cloud1.png",style:"width:100%;height:75px; position:relative; bottom:46px") %>
<% else %>
<%= image_tag("girl-search-with-rainbow.svg",style:"width:100%;height:350px;") %>
<%= image_tag("cloud1.png",style:"width:100%;height:75px; transform: scaleY(-1); position:relative; bottom:45px") %>
<%= image_tag("cloud1.png",style:"width:100%;height:75px; position:relative; bottom:46px") %>
<% end %>
