<div class="wholePage">
  <!-- First section div -->
  <div class="event-section1 event-section1-container" id="event-section1">
    <div class="container-fluid ">
      <div class="row event-row">
        <div class="col-md-3" id="event-subsection1">
          <%= image_tag "filter-header.svg", class: " filter-header-img"  %>
          <br>
          <br>
          <div class="">
            <%= form_tag("/resources#results", method: :get) do %>
            <%= text_field_tag :term, params[:term] %>
            <%= submit_tag "Search", :name => nil, class:'btn-primary' %>
          </div>
          <hr>

          <div class="filterCard">
            <div class="filter-header-container">
              <p class="filterCard-header1">Topic</p>
              <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
            </div>
            <div class="collapse-for collapse in">
              <%= check_box_tag("resource_topic[]","1", "checked", id:"topic1") %>
              <%= label_tag(:topic1, "Physical Health", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_topic[]","2", "checked", id:"topic2") %>
              <%= label_tag(:topic2, "Mental Health", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_topic[]","3", "checked", id:"topic3") %>
              <%= label_tag(:topic3, "Child Development", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_topic[]","4", "checked", id:"topic4") %>
              <%= label_tag(:topic4, "Policy", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_topic[]","5", "checked", id:"topic5") %>
              <%= label_tag(:topic5, "Child Safety", class:'radio-spacing font-16') %>
              <br>
              <hr/ class="filterCard-line">
            </div>
          </div>

          <div class="filterCard">
            <div class="filter-header-container">
              <p class="filterCard-header1">Resource Covers</p>
              <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
            </div>
            <div class="collapse-for collapse in">
              <%= check_box_tag("resource_location[]","Delta","checked", id:"location1") %>
              <%= label_tag(:location1, "Delta", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_location[]","BC","checked", id:"location2") %>
              <%= label_tag(:location2, "BC", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_location[]","Canada","checked", id:"location3") %>
              <%= label_tag(:location3, "Canada", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_location[]","N/A","checked", id:"location4") %>
              <%= label_tag(:location4, "N/A", class:'radio-spacing font-16') %>
              <br>
              <hr/ class="filterCard-line">
            </div>
          </div>


          <div class="filterCard">
            <div class="filter-header-container">
              <p class="filterCard-header1">Children Aged</p>
              <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
            </div>
            <div class="collapse-for collapse in">
              <%= check_box_tag("resource_age_group[]","1","checked", id:"age1") %>
              <%= label_tag(:age1, "0-5 years", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_age_group[]","2","checked", id:"age2") %>
              <%= label_tag(:age2, "6-12 years", class:'radio-spacing font-16') %>
              <br>
              <hr/ class="filterCard-line">
            </div>
          </div>

          <div class="filterCard">
            <div class="filter-header-container">
              <p class="filterCard-header1">Type of Resource</p>
              <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
            </div>
            <div class="collapse-for collapse in">
              <%= check_box_tag("resource_type[]", "Tips & Guidelines", "checked", id:"resourcetype1") %>
              <%= label_tag(:resourcetype1, "Tips & Guidelines", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_type[]", "Report", "checked", id:"resourcetype2") %>
              <%= label_tag(:resourcetype2, "Report", class:'radio-spacing font-16') %>
              <br>
              <%= check_box_tag("resource_type[]","Research", "checked", id:"resourcetype3") %>
              <%= label_tag(:resourcetype3, "Research", class:'radio-spacing font-16') %>
              <br>
              <hr/ class="filterCard-line">
            </div>
          </div>
          <div class="center-flex-content">
            <%= submit_tag 'Filter', class:"btn-primary btn-lg filter-btn" %>
          </div>
          <% end %>
          <div class="center-flex-content">
            <%= button_to "Add New Resource", new_resource_path, :method => "get", class:"btn-primary btn-lg filter-btn" %>
          </div>
        </div>
