
<%= image_tag "filter-header.svg", class: " filter-header-img"  %>
<br>
<br>
<div class="">
  <%= form_tag("/resources#results", method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag "Search", :name => nil, class:'btn-primary' %>
</div>
<hr>

<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Topic</p>
    <a data-toggle="collapse" data-target=".collapse-for" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>
  </div>
  <div class="collapse-for collapse in checkbox-container">
    <%= hidden_field_tag "resource_topic[]", '0' %>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_topic[]', '1', "checked" %>
      &nbsp&nbspPhysical Health
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_topic[]', '2', "checked" %>
      &nbsp&nbspMental Health
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_topic[]', '3', "checked" %>
      &nbsp&nbspChild Development
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_topic[]', '4', "checked" %>
      &nbsp&nbspPolicy
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_topic[]', '5', "checked" %>
      &nbsp&nbspChild Safety
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>

<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Resource Covers</p>
    <a data-toggle="collapse" data-target=".collapse-for" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>
  </div>
  <div class="collapse-for collapse in checkbox-container">
    <%= hidden_field_tag "resource_location[]", '' %>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_location[]', 'Delta', "checked" %>
      &nbsp&nbspDelta
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_location[]', 'BC', "checked" %>
      &nbsp&nbspBC
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_location[]', 'Canada', "checked" %>
      &nbsp&nbspCanada
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_location[]', 'N/A', "checked" %>
      &nbsp&nbspN/A
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>


<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Age Group</p>
    <a data-toggle="collapse" data-target=".collapse-for" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>
  </div>
  <div class="collapse-for collapse in checkbox-container">
    <%= hidden_field_tag "resource_age_group[]", '0' %>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_age_group[]', '1', "checked" %>
      &nbsp&nbsp0-5 years
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_age_group[]', '2', "checked" %>
      &nbsp&nbsp6-12 years
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_age_group[]', '3', "checked" %>
      &nbsp&nbspAll Ages
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_age_group[]', '4', "checked" %>
      &nbsp&nbspN/A
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>

<div class="filterCard">
  <div class="filter-header-container">
    <p class="filterCard-header1">Type of Resource</p>
    <a data-toggle="collapse" data-target=".collapse-for" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>
  </div>
  <div class="collapse-for collapse in checkbox-container">
    <%= hidden_field_tag "resource_type[]", '' %>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_type[]', 'Tips & Guidelines', "checked" %>
      &nbsp&nbspTips & Guidelines
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_type[]', 'Report', "checked" %>
      &nbsp&nbspReport
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_type[]', 'Research', "checked" %>
      &nbsp&nbspResearch
    </label>
    <br>
    <label class="category-select font-16">
      <%= check_box_tag 'resource_type[]', 'Poster', "checked" %>
      &nbsp&nbspPoster
    </label>
    <br>
    <hr/ class="filterCard-line">
  </div>
</div>
<div class="center-flex-content">
  <%= submit_tag 'Filter', class:"btn-primary btn-lg filter-btn" %>
</div>
<% end %>
<div class="center-flex-content">
  <%= button_to "Add New Resource", new_resource_path, :method => "get", class:"btn-primary btn-lg filter-btn" %>
</div>
<% if @resources_search.total_count == 0 %>
<%= image_tag("girl-search-not-found-with-rainbow.svg",style:"width:100%;height:350px;") %>
<%= image_tag("cloud1.png",style:"width:100%;height:75px; transform: scaleY(-1); position:relative; bottom:45px") %>
<%= image_tag("cloud1.png",style:"width:100%;height:75px; position:relative; bottom:45px") %>
<% else %>
<%= image_tag("girl-search-with-rainbow.svg",style:"width:100%;height:350px;") %>
<%= image_tag("cloud1.png",style:"width:100%;height:75px; transform: scaleY(-1); position:relative; bottom:45px") %>
<%= image_tag("cloud1.png",style:"width:100%;height:75px; position:relative; bottom:45px") %>
<% end %>
