<div class="outer-blue-container">
<div id="whats-new-board" class="container">

  <div class="row">
    <div class="col-md-12">
      <%= image_tag("whats-new-top.svg", class:"img-responsive center-block whats-new") %>
    </div>
  </div>
  <div class="conatiner" style="background-color:white; height:102%; width:96%;margin:auto">
  <div class="row">
    <div class="col-md-12">
      <h1 id="whats-new">What's New in Delta</h1>

      <button type="button" name="button" class="btn btn-primary" id="btn-view-all">VIEW ALL</button>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("DeltaKids1.jpg", class:"img-responsive") %>
      <h2 class="new-events ellipsis-1">FOOD SKILLS FOR FAMILIES!</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p class="ellipsis-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <p class="learn-more">Learn More</p>

    </div>
    <div class="col-md-4">
      <%= image_tag("DeltaKids4.jpg", class:"img-responsive") %>
      <h2 class="new-events ellipsis-1">PARENT CHILD LEARNING TOGETHER IS BACK!</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p class="ellipsis-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <p class="learn-more">Learn More</p>

    </div>
    <div class="col-md-4">
      <%= image_tag("DeltaKids2.jpg", class:"img-responsive") %>
      <h2 class="new-events ellipsis-1">NEW CHILD DEVELOPMENT RESOURCES</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p class="ellipsis-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <p class="learn-more">Learn More</p>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <%= image_tag("whats-new-bottom.svg", class:"img-responsive center-block whats-new") %>
    </div>
  </div>

  </div>
</div>
