<div class="container-fluid background-color">

  <div class="row main">
    <div class="col-xs-12" id="about-us-container">
      <%# image_tag "https://user-images.githubusercontent.com/19618674/27271064-68a24f8c-5477-11e7-8613-0c6bf174996b.png", class: "img-responsive kids-img"  %>
      <%= image_tag "jumbotron-about-us.svg", class: "img-responsive kids-img"  %>
        <h1 id="about-us">ABOUT US</h1>

    </div>
  </div>
  <div class="row main">
    <div class="col-xs-12">
    <div class="col-xs-12 col-md-8">
      <div class="white-background container-fluid page-font" id="main-body">

        <p class="blurb">We believe when families are healthy, in every   sense of the word, their children will thrive. And when children   are thriving, everyone is happy.</p>

        <div class="blue-background">
          <h2 id="goal">THE WEBSITE IS DEDICATED TO MAKING DELTA A CHILD-     FRIENDLY COMMUNITY – A GREAT PLACE TO GROW UP!</h2>
        </div>

        <h2 class="headers">Community partners</h2>

        <p class="blurb">DeltaKids is a coalition of community partners. We   work together to build Deltaʼs capacity as a child-friendly   community where all children thrive. Membership on the committee   includes representatives from:</p>


        <div class="row">
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/boys-girls-club@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Boys & Girls Club of the South Coast</h3>
                <div id="flex-enabler">
                  <a class="website" href="https://www.bgcbc.ca/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/delta-child-n-youth-mental-health.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Delta Child and Youth Mental Health</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://www.deltakids.ca/wp-content/uploads/Delta-CY-Mental-Health-Resources.pdf">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/delta-community-literacy.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Delta Community Literacy Committee</h3>
                <div id="flex-enabler">
                  <a class="website" href="https://tinyurl.com/y7tlmgez">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/delta-parks@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Delta Parks, Recreation and Culture</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://www.delta.ca/parks-recreation/overview">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/delta-school-district@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Delta School District</h3>
                <div id="flex-enabler">
                  <a class="website" href="https://www.deltasd.bc.ca/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/deltassist@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Deltassist</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://www.deltaassist.com/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/fraser-health@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Fraser Health</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://www.fraserhealth.ca/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/fraser-valley-regional-lib@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Fraser Valley Regional Library</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://www.fvrl.bc.ca/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/ministry-of-children@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Ministry of Children and Family Development</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/children-and-family-development">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/options-community-services@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Options Community Services</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://www.options.bc.ca/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/pacific-postpartum@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">Pacific Postpartum Support Society</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://postpartum.org/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/reach@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">REACH</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://reachdevelopment.org/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/center-for-child-devt@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">The Centre for Child Development</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://the-centre.org/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 sponsors-padding">
            <div class="row">
              <div class="col-xs-5 partner-logo">
                <%= image_tag "about/the-corp-of-delta@2x.png", class: "img-responsive center-block"  %>
              </div>
              <div class="col-xs-7 partner-info">
                <h3 class="sub-headers">The Corporation of Delta</h3>
                <div id="flex-enabler">
                  <a class="website" href="http://www.delta.ca/">Go To    Website</a>
                  <i><%= image_tag("cursor.svg", class:"img-responsive cursor2") %></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="white-background" id="main-body">

        <h2 class="headers" id="sponsors-header">Sponsors</h2>
        <p class="blurb page-font2">Funded by the United Way of the Lower   Mainland and the Ministry for Children and Family   Development, the main contributors to this website are   members of the Delta Early Childhood Development Committee   and the Delta Middle Years Committee.</p>

        <div id="sponsors">

          <%= image_tag("about/sponsors-group@2x.png", class:"img-responsive sponsors-img center-block") %>

        </div>
        <div id="filler">

        </div>
        <div id="handshake">

          <%= image_tag "handshake.svg", class: "img-responsive   center-block hands"  %>

        </div>

      </div>
    </div>
  </div>
</div>
</div>


<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
