<div class="container-fluid contact-us-body">
  <div class="container" id="boyrunning-container">
      <%= image_tag  "BoyRunning.jpeg", id: "boyrunning" %>
      <h1 id="contact-us-text">CONTACT US</h1>
    <div class="container"id="contact-box">
      <p class="font-16" style="font-size:15px">Do you have any questions or what to learn more about a specific subject? Drop us a line.</p>
      <br>

    <div class="flex form-group">
      <%= text_field_tag :name, nil, {placeholder: "Name",class: "form-control contact-form"} %>
      &nbsp;&nbsp;&nbsp;
      <%= text_field_tag :email, nil, {placeholder: "Email" ,class: "form-control contact-form"} %>
    </div>
    <div class="contact-form">
      <%= text_area_tag :message, nil, {placeholder: "Message", class: "form-control contact-form", rows: 10} %>
    </div>
      <%= submit_tag 'Send Message', class:"btn-primary pull-right btn-lg", id:"btn-padding" %>
    </div>


    <div class="pull-right flex container"id="about-us-box">
      <p class="bree-font" style="font-size:26px;">About us</p>
      <%= image_tag  "jumbotron-about-us.svg", id: "jumbo-about-us" %>
      <p class="font-16">DeltaKids is a coalition of community partners. We work together to build Delta's capacity as a child-friendly community where all children thrive.</p>
      <a href="<%= about_path %>" class="pull-right">Learn More<span class="caret caret-right"></span></a>
    </div>
  </div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
