<div class="wholePage">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 content">

            <%= render 'partials/dash_sidebar' %>

            <div class="col-md-9 dash-main-content">
              <div class="container-fluid">

                <% if user_signed_in? %>

                <div class="container-fluid">
                  <p class="dashboard-headers">Welcome to the Dashboard</p>
                </div>

                <% if is_admin? %>
                <div class="container-fluid center-flex-content">
                  <p class="font-20" style="color:#004c81;"><strong>Pending Events:</strong> <span style="color:#00a3da"><%= @pending_and_approved_events.count %></span></p>

                  <p class="font-20" style="padding-left:100px; color:#004c81;"><strong>Pending Resources:</strong> <span style="color:#00a3da"><%= @pending_and_approved_resources.count %></span></p>
              </div>
              <br>
              <br>
              <% end %>
                <p class="dashboard-text2">The Text below is here to show what a welcome message may look like</p>
                <br>
                <p class="dashboard-text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="dashboard-text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  <br>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <% else %>
                  <%= render 'partials/login_msg' %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
</div>

<%= render 'partials/footer' %>
