<!-- First section div -->
<div class="section1 section1-container">
    <div class="container-fluid clouds-background">
        <div class="row section1-text">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <p id='welcome-line1'>Welcome to<p>
                <p id='welcome-line2'>Delta Kids<p>
            </div>
            <div class="col-md-5 subsection">
                <p id='welcome-line3'>We are your One-Stop-Info-Shop</p>
                <p id='welcome-line4'> for children 0-12 years in Delta, BC.<p>
                <div id='button-learnmore'>
                <a href="<%= about_path %>" class="about-us">LEARN MORE</a></div>
            </div>

            <div class="col-md-1"></div>
        </div>
    </div>
</div>


<!-- Second section div -->
<div class="section2">
  <div class="container-fluid section2-container">
    <div class="row">
      <div class="col-md-12">
          <%= image_tag  "kids.png", class: "kids-image" %>
    </div>
  </div>
</div>
</div>



<!-- Third section div -->
<div class="section3 section1-container">
    <div class="container-fluid section3-background">
        <div class="row section1-text">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <%= image_tag "calendar.svg", class: "calendar-image" %>
            </div>
            <div class="col-md-5 subsection">
                <p id='section3-line1'>Be "in the know" </p>
                <p id='section3-line2'> for events and activities <p>
                <p id='section3-line3'> in your community. <p>
                <div id='button-activities-cal'><a href="<%= events_path %>" class="about-us" style="color: white;">GO TO ACTIVITIES CALENDAR</a></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<!-- Fourth section div -->
<div class="outer-blue-container">
<div id="whats-new-board" class="container">

  <div class="row">
    <div class="col-md-12">
      <%= image_tag("whats-new-top.svg", class:"img-responsive center-block whats-new") %>
    </div>
  </div>
  <div class="conatiner" style="background-color:white; height:102%; width:97%;margin:auto">
  <div class="row">
    <div class="col-md-12">
      <h1 id="whats-new">What's New</h1>

      <button type="button" name="button" class="btn btn-primary" id="view-all">VIEW ALL</button>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("DeltaKids1.jpg", class:"img-responsive") %>
      <h2 class="new-events">FOOD SKILLS FOR FAMILIES!</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <!-- <p class="learn-more">Learn More</p> -->
      <p><%= link_to 'Learn More', learn_more_path, class: "learn-more" %></p>

    </div>
    <div class="col-md-4">
      <%= image_tag("DeltaKids4.jpg", class:"img-responsive") %>
      <h2 class="new-events">PARENT CHILD LEARNING TOGETHER IS BACK!</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <!-- <p class="learn-more">Learn More</p> -->
      <p><%= link_to 'Learn More', learn_more_path, class: "learn-more" %></p>

    </div>
    <div class="col-md-4">
      <%= image_tag("DeltaKids2.jpg", class:"img-responsive") %>
      <h2 class="new-events">NEW CHILD DEVELOPMENT RESOURCES</h2>
      <h5 class="posted-on">Posted on: 2017-01-01</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
      <!-- <p class="learn-more">Learn More</p> -->
      <p><%= link_to 'Learn More', learn_more_path, class: "learn-more" %></p>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag("whats-new-bottom.svg", class:"img-responsive center-block whats-new") %>
    </div>
  </div>

  </div>
</div>

  <!-- Fifth section div -->

  <div classs="row">
  <div class="col-xs-12 background-color">
      <br>
      <a href="<%= map_path %>"><%= image_tag('bus.png', class: 'bus center-block') %></a>
  </div>
</div>
