<script src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'> </script>
<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'> </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHDSOM8UnLFbt2SQYhPg2ZY7GQ601JS5Y"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>


<div class="wholePage">

  <%= render 'partials/map_filter' %>

  <div class="col-md-9 calendar-subsection2" style='padding-top:40px'>
    <div class="calendar-subsection2-card">

      <div id="map">
        <div id="multi_markers" style="width:100%; height:100%"></div>
      </div>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'multi_markers'}}, function(){
        markers = handler.addMarkers(<%=raw @hash1.to_json %>);
        handler.bounds.extendWith(markers);
        handler.map.centerOn ({lat:49.0952,lng:-123.0265});
        handler.getMap().setZoom(11);
      });</script>


      <div class="calendar-subsection2-text">
        <p class="calendar-subsection2-header">Map of Delta</p>
        <div class="calendar-subsection2-text" style="background-color: #fff">
          <div class="calendar-subsection2-details">
            <p class="event-paragraph">This is Delta. It includes the communities of Tsawwassen, Ladner, and North Delta.
              On the north side it is bordered by the Fraser River and 96th Avenue.
              On the east side, it is bordered by Scott Road (or 120th Street).</p>
            </div>
          </div>
        </div>

      </div>
      <div class="container-fluid">
        <p class="bree-font">Results (<%= @map_search_results.total_count %>)</p>
        <% for event in @map_search_results %>
        <% if event.has_attribute?(:title) %>
        <div class="calendar-subsection2-card light-blue-bg-color" style="margin-top:30px">
          <div class="calendar-subsection2-text" style="background-color: #fff">
            <div class="calendar-subsection2-details">
              <p class="calendar-subsection2-header2"><%= event.title %></p>
              <div class="event-info">
                <div>
                  <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
                  <p class="event-info-txt-bold">Date:</p>
                  <p class="event-info-txt"><%= event.start_date %></p>
                  <p class="event-info-txt"> - <%= event.end_date %></p>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-clock.svg", class: "event-info-icon" %>
                  <% if event.start_time %>
                  <p class="event-info-txt"><%= event.start_time.strftime("%I:%M %p") %></p>
                  <% end %>
                  <% if event.end_time %>
                  <p class="event-info-txt"> - <%= event.end_time.strftime("%I:%M %p") %></p>
                  <% end %>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
                  <% event.age_groups.each do |age| %>
                  <p class="event-info-txt"><%= age.age %></p>
                  <% end %>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.cost %></p>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-location-pin.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.event_location %></p>
                </div>
              </div>
              <p class="event-paragraph ellipsis-3"><%= event.description %></p>
              <div class="event-info2">
                <!-- <p  class="event-info-bold2">Learn More</p> -->
                <p><%= link_to 'Learn More', event_learn_more_path(event), class: "event-info-bold2" %></p>
                <%= image_tag "cursor.svg", class: "event-info-icon2" %>
              </div>
            </div>
          </div>
        </div>
        <% elsif event.has_attribute?(:program_type_id) %>
        <div class="calendar-subsection2-card light-blue-bg-color" style="margin-top:30px">
          <div class="calendar-subsection2-text" style="background-color: #fff">
            <div class="calendar-subsection2-details">
              <p class="calendar-subsection2-header2"><%= event.organization.name %></p>
              <div class="">
                  <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
                  <% event.age_groups.each do |age| %>
                  <p class="event-info-txt" style="margin-right:15px;"><%= age.age %></p>
                  <% end %>
                  <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.cost %></p>
              </div>
              <br>
              <br>
              <p class="event-paragraph ellipsis-3"><%= event.description %></p>
              <div class="event-info">
              <p class="event-paragraph ellipsis-3"><%= event.organization.address %></p>
              <p class="event-paragraph ellipsis-3"><%= event.organization.phone %></p>
            </div>
              <div class="event-info2">
                <!-- <p  class="event-info-bold2">Learn More</p> -->
                <p><%= link_to 'Learn More', program_learn_more_path(event), class: "event-info-bold2" %></p>
                <%= image_tag "cursor.svg", class: "event-info-icon2" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      </div>
      <div class="container-fluid center-flex-content bree-font" style="align-items:center;">
        <%= paginate @map_search_results, window: 2 %>
      </div>

    </div>
  </div>
</div>
