<div class="container-fluid background-color">
  <div class="row">
    <!-- <div class="col-md-12"> -->

      <div class="col-md-7">
        <div class="calendar-subsection2-card">
          <%= image_tag "https://user-images.githubusercontent.com/19618674/27262697-1aaca1ee-5411-11e7-9bfb-4f51346fc603.png", class: "calendar-subsection2-image" %>
          <div class="calendar-subsection2-text">
            <p class="calendar-subsection2-header whats-new-calendar">WHAT'S NEW</p>
          </div>
        </div>

        <div class="calendar-subsection2-card">
          <%= image_tag "food-skill-for-families.png", class: "calendar-subsection2-image" %>
          <div class="whats-new-container">
            <h2 class="whats-new-text">Food Skills For Families!</h2>
            <p class="whats-new-posted-text"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> <b>Posted on 03/02/17</b></p>
            <p>
              Do you want your family to eat healthier diet, but struggle with the time that takes? perhaps you need more ideas for quick and healthy snacks...
            <a class="whats-new-learn">Learn more...</a>
            </p>
          </div>
        </div>

        <div class="calendar-subsection2-card">
          <%= image_tag "parent-child-learning.png", class: "calendar-subsection2-image" %>
          <div class="whats-new-container">
            <h2 class="whats-new-text">Parent Child Learning Together is Back!</h2>
            <p class="whats-new-posted-text"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> <b>Posted on 03/02/17</b></p>
            <p>
              Come out to "parent Child Learning Together" at the Early Years Centre. Spaces will fill fast, so click to learn how to register!
                          <a class="whats-new-learn">Learn more...</a>
            </p>
          </div>
        </div>

        <div class="calendar-subsection2-card">
          <%= image_tag "new-child-devt.png", class: "calendar-subsection2-image" %>
          <div class="whats-new-container">
            <h2 class="whats-new-text">New Child Development Resources</h2>
            <p class="whats-new-posted-text"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> <b>Posted on 03/02/17</b></p>
            <p>
              We have added some new info and resources to the Child Development page of Delta Kids! Learn what's new...
                          <a class="whats-new-learn">Learn more...</a>
            </p>
          </div>
        </div>

        <div>
          <button class="whats-new-button">See More</button>
        </div>
      </div>

      <div class="col-md-5">
        <h3 class="whats-new-featured-header"> Featured Events </h3>

        <div class="whats-new-featured-container">
          <div class="paper-clip-container">
            <%= image_tag "drop-in-rugby.png", class: 'whats-new-featured-image' %>
            <%= image_tag "paperclip.png", class: 'paper-clip-image' %>
          </div>

          <div class="whats-new-featured-text">
            <h3 class="whats-new-text">Rookie Rugby</h3>
            <p class="whats-new-posted-text">
              <i class="fa fa-calendar fa-lg" aria-hidden="true"></i> Event - 04/07/17
            </p>
            <p class="whats-new-posted-text">
              <i class="fa fa-clock-o" aria-hidden="true"></i> 11:15 AM
            </p>
          </div>
        </div>

        <div class="whats-new-featured-container">
          <div class="paper-clip-container">
            <%= image_tag "drop-in-basketball.png", class: 'whats-new-featured-image' %>
            <%= image_tag "paperclip.png", class: 'paper-clip-image' %>
          </div>

          <div class="whats-new-featured-text">
            <h3 class="whats-new-text">Drop In</h3>
            <p class="whats-new-posted-text">
              <i class="fa fa-calendar fa-lg" aria-hidden="true"></i> Event - 04/21/17
            </p>
            <p class="whats-new-posted-text">
              <i class="fa fa-clock-o" aria-hidden="true"></i> 9:00 AM
            </p>
          </div>
        </div>

        <div class="whats-new-featured-container">
          <div class="paper-clip-container">
            <%= image_tag "drop-in-kids.png", class: 'whats-new-featured-image' %>
            <%= image_tag "paperclip.png", class: 'paper-clip-image' %>
          </div>

          <div class="whats-new-featured-text">
            <h3 class="whats-new-text">Drop In</h3>
            <p class="whats-new-posted-text">
              <i class="fa fa-calendar fa-lg" aria-hidden="true"></i> Event - 04/24/17
            </p>
            <p class="whats-new-posted-text">
              <i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 AM
            </p>
          </div>
        </div>

        <div>
          <button class="whats-new-button">See More</button>
        </div>
      </div>


    <!-- </div> -->
  </div>
</div>

<!-- Rainbow Footer-->

<div class="relative-enabler">
  <div class="container-fluid happy-rainbow">
    <div class="row">
      <div class="col-md-12">

        <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

      </div>
     </div>
   </div>
</div>
