<div class="wholePage">
  <!-- First section div -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 content">

      <%= render 'partials/dash_sidebar' %>

      <% if user_signed_in? %>
      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content">
        <div class="">
          <br>
          <p class="dashboard-headers mobile-font-24">Create New Event</p>

          <%= form_for @event do |f|  %>

          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :title, class: "" %>
            <%= f.text_field :title, class: 'form-control  ', :required => true %>
          </div>

          <% if is_admin? %>
          <!-- EVENT FEATURED? -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label "Feature Event?", class:' caps' %>
            <div class="">
              <%= f.radio_button(:featured, true) %>
              <%= label_tag(:featured, "Yes", class:'radio-spacing') %>
              <%= f.radio_button(:featured, false,:checked => true) %>
              <%= label_tag(:featured, "No", class:'radio-spacing') %>
            </div>
          </div>
          <% end %>

          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :recurring %>
            <br>
            <%= f.select_recurring :recurring, nil, allow_blank: true %>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :start_time, class: "" %>
            <br>
            <%= f.datetime_select :start_time, :default => { :hour => 12, :minute => 00 } ,class: '' %>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :end_time, class: "" %>
            <br>
            <%= f.datetime_select :end_time, :default => { :hour => 12, :minute => 00 }, class: '' %>
          </div>



          <!-- EVENT LOCATION -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :location , class:'' %>
            <div class="">
              <div class="in-block">
                <%= f.radio_button(:event_location, "Ladner") %>
                <%= label_tag(:event_location, "Ladner", class:'radio-spacing') %>
              </div>
              <div class="in-block" >
                <%= f.radio_button(:event_location, "North Delta",:checked => true) %>
                <%= label_tag(:event_location, "North Delta", class:'radio-spacing') %>
              </div>
              <div class="in-block" >
                <%= f.radio_button(:event_location, "Tsawwassen") %>
                <%= label_tag(:event_location, "Tsawwassen", class:'radio-spacing') %>
              </div>
            </div>
          </div>

          <!-- ADDRESS -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :address, class:'' %>
            <%= f.text_field :address, class: 'form-control  ', :required => true %>
          </div>

          <!-- AGE GROUP -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :age_group, class:' caps' %>
            <div class="form-group  dropbox-container">
              <%= f.collection_select :age_group_ids,
              AgeGroup.all,
              :id,
              :age,
              {},
              { multiple: true, class: 'chosen-select form-control '}
              %>
            </div>
          </div>

          <!-- COST -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :cost, class:' caps' %>
            <div class="">
              <%= f.radio_button(:cost, "Paid") %>
              <%= label_tag(:cost, "Paid", class:'radio-spacing') %>
              <%= f.radio_button(:cost, "Free",:checked => true) %>
              <%= label_tag(:cost, "Free", class:'radio-spacing') %>
            </div>
          </div>

          <!-- ACTIVITY TYPE -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :activity_type, class:' caps' %>
            <div class="form-group  dropbox-container">
              <%= f.collection_select :event_type_id,
              EventType.all,
              :id,
              :name,
              {},
              { multiple: false, class: 'form-control '}
              %>
            </div>
          </div>

          <!-- TAGS -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :Tags, class:' caps' %>
            <div class="form-group  dropbox-container">
              <%= f.collection_select :tag_ids,
              Tag.all,
              :id,
              :name,
              {},
              { multiple: true, class: 'chosen-select form-control '}
              %>
            </div>
          </div>
          <!-- REGISTRATION -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :registration, "Registration", class:'' %>
            <div class="">
              <div class="in-block">
              <%= f.radio_button(:registration, "Drop In") %>
              <%= label_tag(:registration, "Drop In", class:'radio-spacing') %>
            </div>
            <div class="in-block">
              <%= f.radio_button(:registration, "Registered",:checked => true) %>
              <%= label_tag(:registration, "Registration Required", class:'radio-spacing') %>
            </div>
            </div>
          </div>
          <!-- EVENT DESCRIPTION -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :description, class:'' %>
            <%= f.text_area :description, class: 'form-control  ', :required => true %>
          </div>

          <!-- IMAGE UPLOADER -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :image, class: "" %>
            <%= f.file_field :image, accept: 'image/png,image/jpeg,image/jpg' %>
          </div>

          <!-- PDF UPLOADER -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :pdf_file, "PDF File(optional)" ,class: "" %>
            <%= f.file_field :pdf_file, accept: 'application/pdf'   %>
          </div>

          <!-- MORE INFO, URLs -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :more_info, class:' caps' %>
            <%= f.text_field :more_info, class: 'form-control  ', placeholder: "Provide web links here" %>
          </div>

          <!-- CONTACT NAME/EMAIL -->

          <% if is_admin? %>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :"Contact name", class:' caps' %>
            <%= f.text_field :contact_name, class: 'form-control ' %>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :"Contact email", class:' caps' %>
            <%= f.email_field :contact_email, class: 'form-control ' %>
          </div>
          <br>
          <% else %>

          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :"Contact name", class:' caps' %>
            <%= f.text_field :contact_name, class: 'form-control  ', :required => true %>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :"Contact email", class:' caps' %>
            <%= f.email_field :contact_email, class: 'form-control  ', :required => true %>
          </div>
          <br>
          <% end %>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field" style="padding-bottom:10%;">
            <%= f.submit class: 'btn btn-primary form-control  ' %>
          </div>
        </div>

        <% end %>
      </div>
        <% else %>
        <%= render 'partials/login_msg' %>
      <% end %>
    </div>
  </div>

</div>

<%= render 'partials/footer' %>
