<!-- Please put the events in where they should be -->
<% @events.each do |event| %>
  <p><strong>Name: </strong></p><%= link_to event.title, event_path(event) %>
  <hr>
<% end %>
<div class="wholePage">

<!-- First section div -->
<div class="calendar-section1 calendar-section1-container" id="calendar-section1">
    <div class="container-fluid">
        <div class="row calendar-row">

            <div class="col-md-4" id="calendar-subsection1">

		            <%= image_tag "filter-header.svg", class: " filter-header-img"  %>
<!--
		            <div id="filter-header">
		            <p id="#filterText">Filter</p>
		            <%#= image_tag "icon-filter.svg", class: " filter-header-chevron" %>
		            </div>
-->
		            <div class="filterCard">
			            <p class="filterCard-header1">For</p>
			            <div class="filter-header2">
				            <p class="filterCard-header2">Everybody</p>
				            <%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron"  %>
			            </div>
			            <p class="filterCard-list">0-6 year olds</p>
			            <p class="filterCard-list">6-12 year olds</p>
			            <p class="filterCard-list">Parents</p>
			            <p class="filterCard-list">Child care workers or service providers</p>
			            <hr/ class="filterCard-line">
		            </div>

		            <div class="filterCard">
			            <p class="filterCard-header1">Where</p>
			            <div class="filter-header2">
				            <p class="filterCard-header2">All locations</p>
				            <%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron pull-right"  %>
			            </div>
			            <p class="filterCard-list">Ladner</p>
			            <p class="filterCard-list">North Delta</p>
			            <p class="filterCard-list">Tsawwassen</p>

			            <hr/ class="filterCard-line">
		            </div>

		            <div class="filterCard">
			            <p class="filterCard-header1">When</p>
			            <p class="filterCard-list">From</p>
			            <hr/ class="filterCard-line">
			            <p class="filterCard-list">To</p>
			            <hr/ class="filterCard-line">
		            </div>

		            <div class="filterCard">
			            <p class="filterCard-header1">Cost</p>
			            <div class="filter-header2">
				            <p class="filterCard-header2">Free and paid</p>
				            <%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron"  %>
			            </div>
			            <p class="filterCard-list">Free</p>
			            <p class="filterCard-list">Paid</p>

			            <hr/ class="filterCard-line">
		            </div>

		            <div class="filterCard">
			            <p class="filterCard-header1">Recurrence</p>
			            <div class="filter-header2">
				            <p class="filterCard-header2">Ongoing and Events</p>
				            <%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron"  %>
			            </div>
			            <p class="filterCard-list">Ongoing</p>
			            <p class="filterCard-list">Events</p>

			            <hr/ class="filterCard-line">
		            </div>
                <!-- NEW EVENT BUTTON -->
                <a href="/events/new"><button type="button" class="button-seemore">Add an Event</button></a>
            </div>

            <div class="col-md-8 calendar-subsection2">
	            <div class="calendar-subsection2-card">
		            <%= image_tag "https://user-images.githubusercontent.com/19618674/27262697-1aaca1ee-5411-11e7-9bfb-4f51346fc603.png", class: "calendar-subsection2-image" %>
		            <div class="calendar-subsection2-text">
			            <p class="calendar-subsection2-header">ACTIVITIES CALENDAR</p>
		            </div>
	            </div>


	            <p class="calendar-header">Featured</p>
	            <div class="calendar-subsection2-card">
		            <%= image_tag "https://user-images.githubusercontent.com/19618674/27262706-51744010-5411-11e7-92cf-83fcbf748a10.png", class: "calendar-subsection2-image" %>

		            <div class="calendar-subsection2-text" style="background-color: #fff">
			            <div class="calendar-subsection2-details">
				            <p class="calendar-subsection2-header2">Family Empowerment Program</p>
				            <div class="event-info">
					            <div>
						            <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
						            <p class="event-info-txt-bold">Event</p>
						            <p class="event-info-txt"> - 04/01/17</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-clock.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">4:30pm</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">0-6 year olds</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">Free</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-location-pin.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">Tsawwassen</p>
					            </div>
				            </div>
				            <p class="event-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis sit amet orci sit amet laoreet. Praesent aliquam sem at tincidunt bibendum. Mauris dignissim scelerisque enim, quis porttitor orci</p>
				            <div class="event-info2">
					            <p  class="event-info-bold2">Learn More</p>
					            <%= image_tag "cursor.svg", class: "event-info-icon2" %>
				            </div>
			            </div>
		            </div>

	            </div>



	            <p class="calendar-header">Upcoming</p>
	            <div class="calendar-subsection2-card">
		            <%= image_tag "https://user-images.githubusercontent.com/19618674/27262711-7785f0c8-5411-11e7-91be-1e22ccdece76.png", class: "calendar-subsection2-image" %>

		            <div class="calendar-subsection2-text" style="background-color: #fff">
			            <div class="calendar-subsection2-details">
				            <p class="calendar-subsection2-header2">Strong Start</p>
				            <div class="event-info">
					            <div>
						            <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
						            <p class="event-info-txt-bold">Event</p>
						            <p class="event-info-txt"> - 04/01/17</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-clock.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">2:30pm</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">0-6 year olds</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">Free</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-location-pin.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">Ladner</p>
					            </div>
				            </div>
				            <p class="event-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis sit amet orci sit amet laoreet. Praesent aliquam sem at tincidunt bibendum. Mauris dignissim scelerisque enim, quis porttitor orci</p>
				            <div class="event-info2">
					            <p  class="event-info-bold2">Learn More</p>
					            <%= image_tag "cursor.svg", class: "event-info-icon2" %>
				            </div>
			            </div>
		            </div>

	            </div>


	            <br/><br/>
	            <div class="calendar-subsection2-card">
		            <%= image_tag "https://user-images.githubusercontent.com/19618674/27262719-967b5fb8-5411-11e7-8b6d-04ce3ac6b024.png", class: "calendar-subsection2-image" %>

		            <div class="calendar-subsection2-text" style="background-color: #fff">
			            <div class="calendar-subsection2-details">
				            <p class="calendar-subsection2-header2">Strong Start</p>
				            <div class="event-info">
					            <div>
						            <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
						            <p class="event-info-txt-bold">Event</p>
						            <p class="event-info-txt"> - 04/05/17</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-clock.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">2:30pm</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">0-6 year olds</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">Free</p>
					            </div>
					            <div class="event-info1">
						            <%= image_tag "icon-location-pin.svg", class: "event-info-icon" %>
						            <p class="event-info-txt">North Delta</p>
					            </div>
				            </div>
				            <p class="event-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis sit amet orci sit amet laoreet. Praesent aliquam sem at tincidunt bibendum. Mauris dignissim scelerisque enim, quis porttitor orci</p>
				            <div class="event-info2">
					            <p  class="event-info-bold2">Learn More</p>
					            <%= image_tag "cursor.svg", class: "event-info-icon2" %>
				            </div>
			            </div>
		            </div>

	            </div>

              <div id='button-seemore'>SEE MORE</div>


            </div>


        </div>
    </div>
</div>

<!-- Rainbow Footer-->

<div class="container-fluid happy-rainbow">
  <div class="row">
    <div class="col-md-12">

      <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

    </div>
  </div>
</div>

</div>
