<div class="wholePage">

  <!-- First section div -->
  <div class="calendar-section1 calendar-section1-container" id="calendar-section1">
    <div class="container-fluid">
      <div class="row calendar-row">

        <div class="col-md-4" id="calendar-subsection1">

          <%= image_tag "filter-header.svg", class: " filter-header-img"  %>
          <!--
          <div id="filter-header">
          <p id="#filterText">Filter</p>
          <%#= image_tag "icon-filter.svg", class: " filter-header-chevron" %>
        </div>
      -->
      <div class="">
        <%= form_tag() do %>
        <%= text_field_tag :term %>
        <%= submit_tag 'Search', class:'btn-primary' %>
        <% end %>
        <br>

        <div class="form-group">
          <label for='start_date' class="">Start Date</label>
          <input type="text" class='datepicker form date-time-width form-padding' placeholder="MM/DD/YYYY" >
          <br>
          <label for='end_date' class="">End Date &nbsp</label>
          <input type="text" class='datepicker form form-padding date-time-width' placeholder="MM/DD/YYYY">

          <script type="text/javascript">
          $(document).ready(function(){
            $('.datepicker').datepicker();
          });
          </script>

        </div>
      </div>
      <br>
      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">For</p>
          <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
        </div>
        <div class="collapse-for collapse in">
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "0-5 year olds", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "6-12 year olds", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Parents", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Child care workers or service providers", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>
      </div>

      <div class="filterCard">
        <div class="filter-header-container">

          <p class="filterCard-header1">Where</p>
          <a data-toggle="collapse" data-target=".collapse-where"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron" %></a>
        </div>
        <div class="collapse-where collapse in">
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Ladner", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "North Delta", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Tsawwassen", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>
      </div>

      <div class="filterCard">
        <div class="filter-header-container">

          <p class="filterCard-header1">Registration</p>
          <a data-toggle="collapse" data-target=".collapse-registration" class="a-chevron"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron"  %></a>

        </div>
        <div class="collapse-registration collapse in">
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Drop in Program", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Pre-registration", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>
      </div>

      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Cost</p>
          <a data-toggle="collapse" data-target=".collapse-cost"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
        </div>
        <div class="collapse-cost collapse in">
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Free", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Paid", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>
      </div>

      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Type of Event/Activity/Service</p>
          <a data-toggle="collapse" data-target=".collapse-typeof"><%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron a-chevron" %></a>
        </div>
        <div class="collapse-typeof collapse in">
          <%= check_box_tag(:art_and_culture) %>
          <%= label_tag(:art_and_culture, "Art & Culture", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:education) %>
          <%= label_tag(:education, "Education", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:entertainment) %>
          <%= label_tag(:entertainment, "Entertainment", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:health) %>
          <%= label_tag(:health, "Health", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag(:sports) %>
          <%= label_tag(:sports, "Sports", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>
      <br>
      <div class="center-flex-content">
        <%= submit_tag 'Filter', class:"btn-primary btn-lg filter-btn" %>
      </div>
    </div>

    <div class="col-md-8 calendar-subsection2">
      <div class="calendar-subsection2-text">
        <p class="calendar-subsection2-header">ACTIVITIES CALENDAR</p>
      </div>
      <div class="calendar-subsection2-card" style="margin-top:0px;">
        <%= month_calendar do |date| %>
        <%= date.day %>
        <% end %>
      </div>


      <div class="">

        <p class="calendar-subsection2-header pull-left ">Featured</p>

        <% @events.each do |event| %>

        <div class="calendar-subsection2-card light-blue-bg-color">
          <% num = rand(1..3) %>
          <%= image_tag "event#{num}.png", class: "calendar-subsection2-image" %>

          <div class="calendar-subsection2-text" style="background-color: #fff">
            <div class="calendar-subsection2-details">
              <p class="calendar-subsection2-header2"><%= event.title %></p>
              <div class="event-info">
                <div>
                  <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
                  <p class="event-info-txt-bold">Date:</p>
                  <p class="event-info-txt"><%= event.start_date %></p>
                  <p class="event-info-txt"> - <%= event.end_date %></p>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-clock.svg", class: "event-info-icon" %>
                  <% if event.start_time %>
                  <p class="event-info-txt"><%= event.start_time.strftime("%H:%M:%S") %></p>
                  <% end %>
                  <% if event.end_time %>
                  <p class="event-info-txt"> - <%= event.end_time.strftime("%H:%M:%S") %></p>
                  <% end %>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
                  <% event.age_groups.each do |age| %>
                  <p class="event-info-txt"><%= age.age %></p>
                  <% end %>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.cost %></p>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-location-pin.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.event_location %></p>
                </div>
              </div>
              <p class="event-paragraph"><%= event.description %></p>
              <div class="event-info2">
                <!-- <p  class="event-info-bold2">Learn More</p> -->
                <p><%= link_to 'Learn More', learn_more_path, class: "event-info-bold2" %></p>
                <%= image_tag "cursor.svg", class: "event-info-icon2" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="">

        <p class="calendar-subsection2-header pull-left ">Upcoming</p>

        <% @events.each do |event| %>

        <div class="calendar-subsection2-card light-blue-bg-color">
          <% num = rand(1..3) %>
          <%= image_tag "event#{num}.png", class: "calendar-subsection2-image" %>

          <div class="calendar-subsection2-text" style="background-color: #fff">
            <div class="calendar-subsection2-details">
              <p class="calendar-subsection2-header2"><%= event.title %></p>
              <div class="event-info">
                <div>
                  <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
                  <p class="event-info-txt-bold">Date:</p>
                  <p class="event-info-txt"><%= event.start_date %></p>
                  <p class="event-info-txt"> - <%= event.end_date %></p>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-clock.svg", class: "event-info-icon" %>
                  <% if event.start_time %>
                  <p class="event-info-txt"><%= event.start_time.strftime("%H:%M:%S") %></p>
                  <% end %>
                  <% if event.end_time %>
                  <p class="event-info-txt"> - <%= event.end_time.strftime("%H:%M:%S") %></p>
                  <% end %>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
                  <% event.age_groups.each do |age| %>
                  <p class="event-info-txt"><%= age.age %></p>
                  <% end %>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.cost %></p>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-location-pin.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.event_location %></p>
                </div>
              </div>
              <p class="event-paragraph"><%= event.description %></p>
              <div class="event-info2">
                <!-- <p  class="event-info-bold2">Learn More</p> -->
                <p><%= link_to 'Learn More', learn_more_path, class: "event-info-bold2" %></p>
                <%= image_tag "cursor.svg", class: "event-info-icon2" %>
              </div>
            </div>
          </div>
        </div>
        
        <% end %>

      </div>
      <% end %>
    </div>

      <div class="">

      <br>
      <br>
      <div class="">

        <% @events.each do |event| %>

        <div class="calendar-subsection2-card light-blue-bg-color">
          <% num = rand(1..3) %>
          <%= image_tag "event#{num}.png", class: "calendar-subsection2-image" %>

          <div class="calendar-subsection2-text" style="background-color: #fff">
            <div class="calendar-subsection2-details">
              <p class="calendar-subsection2-header2"><%= event.title %></p>
              <div class="event-info">
                <div>
                  <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
                  <p class="event-info-txt-bold">Date:</p>
                  <p class="event-info-txt"><%= event.start_date %></p>
                  <p class="event-info-txt"> - <%= event.end_date %></p>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-clock.svg", class: "event-info-icon" %>
                  <% if event.start_time %>
                  <p class="event-info-txt"><%= event.start_time.strftime("%H:%M:%S") %></p>
                  <% end %>
                  <% if event.end_time %>
                  <p class="event-info-txt"> - <%= event.end_time.strftime("%H:%M:%S") %></p>
                  <% end %>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
                  <% event.age_groups.each do |age| %>
                  <p class="event-info-txt"><%= age.age %></p>
                  <% end %>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.cost %></p>
                </div>
                <div class="event-info1">
                  <%= image_tag "icon-location-pin.svg", class: "event-info-icon" %>
                  <p class="event-info-txt"><%= event.event_location %></p>
                </div>
              </div>
              <p class="event-paragraph"><%= event.description %></p>
              <div class="event-info2">
                <!-- <p  class="event-info-bold2">Learn More</p> -->
                <p><%= link_to 'Learn More', learn_more_path, class: "event-info-bold2" %></p>
                <%= image_tag "cursor.svg", class: "event-info-icon2" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>



      <div id='button-seemore'>SEE MORE</div>


    </div>


  </div>
</div>
</div>

<div class="outer-blue-container">
  
  <div id="whats-new-board" class="container">

    <div class="row">
      <div class="col-md-12">
        <%= image_tag("whats-new-top.svg", class:"img-responsive center-block whats-new") %>
      </div>
    </div>
    <div class="container" style="background-color:white; height:102%; width:97%;margin:auto">
      <div class="row">
        <div class="col-md-12">
          <h1 id="whats-new">What's New</h1>

          <button type="button" name="button" class="btn btn-primary" id="view-all">VIEW ALL</button>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <%= image_tag("DeltaKids1.jpg", class:"img-responsive") %>
          <h2 class="new-events">FOOD SKILLS FOR FAMILIES!</h2>
          <h5 class="posted-on">Posted on: 2017-01-01</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
          <!-- <p class="learn-more">Learn More</p> -->
          <p><%= link_to 'Learn More', learn_more_path, class: "learn-more" %></p>

        </div>
        <div class="col-md-4">
          <%= image_tag("DeltaKids4.jpg", class:"img-responsive") %>
          <h2 class="new-events">PARENT CHILD LEARNING TOGETHER IS BACK!</h2>
          <h5 class="posted-on">Posted on: 2017-01-01</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
          <!-- <p class="learn-more">Learn More</p> -->
          <p><%= link_to 'Learn More', learn_more_path, class: "learn-more" %></p>

        </div>
        <div class="col-md-4">
          <%= image_tag("DeltaKids2.jpg", class:"img-responsive") %>
          <h2 class="new-events">NEW CHILD DEVELOPMENT RESOURCES</h2>
          <h5 class="posted-on">Posted on: 2017-01-01</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <i><%= image_tag("cursor.svg", class:"img-responsive cursor") %></i>
          <!-- <p class="learn-more">Learn More</p> -->
          <p><%= link_to 'Learn More', learn_more_path, class: "learn-more" %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= image_tag("whats-new-bottom.svg", class:"img-responsive center-block whats-new") %>
      </div>
    </div>


  </div>
</div>

<!-- Rainbow Footer-->

<div class="container-fluid happy-rainbow">
  <div class="row">
    <div class="col-md-12">

      <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

    </div>
  </div>
</div>

</div>
