<!-- ACTIVITIES CALENDAR PAGE -->


<div class="wholePage">
        <%= render 'partials/events_filter_bar' %>
        <div class="col-md-9 calendar-subsection2">
          <div class="calendar-subsection2-text">
            <p class="calendar-subsection2-header">ACTIVITIES CALENDAR</p>
          </div>
          <div class="calendar-subsection2-card" style="margin-top:0px;">
            <%= month_calendar  do |date| %>
            <%= date.day %>
            <% if @events_by_start_date[date] %>

            <% @events_by_start_date[date].each do |event|  %>
            <% if event.approved != true %>
            <% else %>
            <p class="ellipsis-1"><%= link_to event.title, event_learn_more_path(event)  %></p>
            <% end %>
            <% end %>

            <% end %>
            <% end %>
          </div>


<div class="container-fluid">
  <p class="bree-font">Results (<%= @events_search.total_count %>)</p>
  <% for event in @events_search %>
  <% if event.approved != true %>
  <% else %>
  <div class="calendar-subsection2-card light-blue-bg-color" style="margin-top:30px">
    <div class="event-image-container">
      <%= image_tag(event.image_url.to_s, class:"img-responsive", style:"height:100%; width:100%; object-fit: cover") %>
    </div>
    <div class="calendar-subsection2-text" style="background-color: #fff">
      <div class="calendar-subsection2-details">
        <p class="calendar-subsection2-header2"><%= event.title %></p>
        <div class="event-info">
          <div>
            <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
            <p class="event-info-txt-bold">Date:</p>
            <p class="event-info-txt"><%= event.start_date %></p>
            <p class="event-info-txt"> - <%= event.end_date %></p>
          </div>
          <div class="event-info1">
            <%= image_tag "icon-clock.svg", class: "event-info-icon" %>
            <% if event.start_time %>
            <p class="event-info-txt"><%= event.start_time.strftime("%I:%M %p") %></p>
            <% end %>
            <% if event.end_time %>
            <p class="event-info-txt"> - <%= event.end_time.strftime("%I:%M %p") %></p>
            <% end %>
          </div>
          <div class="event-info1">
            <%= image_tag "icon-baby.svg", class: "event-info-icon" %>
            <% event.age_groups.each do |age| %>
            <p class="event-info-txt"><%= age.age %></p>
            <% end %>
          </div>
          <div class="event-info1">
            <%= image_tag "icon-tag.svg", class: "event-info-icon" %>
            <p class="event-info-txt"><%= event.cost %></p>
          </div>
          <div class="event-info1">
            <%= image_tag "icon-location-pin.svg", class: "event-info-icon" %>
            <p class="event-info-txt"><%= event.event_location %></p>
          </div>
        </div>
        <p class="event-paragraph ellipsis-3"><%= event.description %></p>
        <div class="event-info2">
          <!-- <p  class="event-info-bold2">Learn More</p> -->
          <p><%= link_to 'Learn More', event_learn_more_path(event), class: "event-info-bold2" %></p>
          <%= image_tag "cursor.svg", class: "event-info-icon2" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<div class="container-fluid center-flex-content bree-font" style="align-items:center;">
  <%= paginate @events_search, window: 2 %>
</div>

</div>
</div>
</div>
<!-- Rainbow Footer-->
<%= render 'partials/footer' %>
