<div class="wholePage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

        <%= render 'partials/dash_sidebar' %>

        <div class="col-md-9 dash-main-content" style="background-color:white;">
          <% if user_signed_in? %>
          <% if is_admin? %>
          <div class="row">
            <div class="col-md-12">

              <h1 class="queue-header">Pending Events</h1>

              <div class="table-responsive">

                <table class="table table-bordered table-hover" style="text-align:center;">
                  <thead>
                    <tr>
                      <th>Event</th>
                      <th>Location</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @events.each do |event| %>
                    <tr>
                      <td><p class="font-16"><%= link_to event.title, event_path(event) %></p></td>
                      <td><p class="font-16"><%= event.event_location %></p></td>
                      <td>
                        <%= link_to 'Approve', event_path(event),
                                              method: :delete,
                                              class: 'btn btn-default edit-delete-btn-width', style:'color:white !important;' %>
                                          
                        <button class="btn btn-default">Decline</button></td>
                      </tr>
                      <% end %>
                            </tbody>
                            <%= paginate @events, window: 2 %>
                          </table>
                          <br><br>
                          <h1 class="queue-header">Approved Events</h1>

                          <table class="table table-bordered table-hover" style="text-align:center;">
                            <thead>
                              <tr>
                                <th>Event</th>
                                <th>Location</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- <tr>
                                <td>Drop in Soccer</td>
                                <td>Delta</td>
                                <td><button class="btn btn-default">Delete</button>
                                </tr>
                                <tr>
                                  <td>Drop in Soccer</td>
                                  <td>Delta</td>
                                  <td><button class="btn btn-default">Delete</button>
                                  </tr>
                                  <tr>
                                    <td>Drop in Soccer</td>
                                    <td>Delta</td>
                                    <td><button class="btn btn-default">Delete</button>
                                    </tr>
                                    <tr>
                                      <td>Drop in Soccer</td>
                                      <td>Delta</td>
                                      <td><button class="btn btn-default">Delete</button>
                                      </tr>
                                      <tr>
                                        <td>Drop in Soccer</td>
                                        <td>Delta</td>
                                        <td><button class="btn btn-default">Delete</button>
                                        </tr> -->
                                      </tbody>
                                    </table>

                                  </div>
                                </div>
                              </div>
                              <% end %>
                              <% else %>
                              <%= render 'partials/login_msg' %>
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Rainbow Footer-->

                  <%= render 'partials/footer' %>
