<div class="wholePage">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">

          <h1 class='bree-font'>Decline Resource Request</h1>
          <br>
          <h4 class='font-20'><strong>Name: </strong><%= @resource.resource_name %></h4>
          <h4 class='font-20'><strong>Description: </strong><%= @resource.description %></h4>
          <h4 class='font-20'><strong>Contact Name: </strong><%= @resource.contact_name %></h4>
          <p class="bree-font26">Reason:</p>

          <%= form_tag(decline_resource_mail_path) do %>
        <div class="">
          <div class="contact-form">
          <%= hidden_field_tag :resource, @resource.resource_name %>
          <%= hidden_field_tag :resource_email, @resource.contact_email %>
          <%= text_area_tag :message, nil, {placeholder: "Message", class: "form-control contact-form", rows: 10, :required => true} %>
        </div>
          <%= submit_tag 'Send Message', class:"btn-primary pull-right btn-lg", id:"btn-padding" %>
        </div>

        <% end %>

        </div>
          </div>
          <br>
        </div>



      </div>
    </div>
</div>

<%= render 'partials/footer' %>
