<div class="wholePage">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 content">
      <%= render 'partials/dash_sidebar' %>
      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <% if is_admin? %>
        <div class="container-fluid">
          <h1 class="bree-font">Events</h1>
          <br>
          <% @resources.each do |resource| %>
          <p class="font-16"><%= link_to resource.name, resource_path(resource) %></p>
          <hr>
          <% end %><div class="container-fluid center-flex-content bree-font" style="align-items:center;">
            <%= paginate @resources, window: 2 %>
          </div>
        </div>
        <% else %>
        <div class="container-fluid">
          <h1 class="bree-font">Events</h1>
          <br>
          <% @resources_public.each do |resource| %>
          <p class="font-16"><%= link_to resource.name, resource_path(resource) %></p>
          <hr>
          <% end %><div class="container-fluid center-flex-content bree-font" style="align-items:center;">
            <%= paginate @resources_public, window: 2 %>
          </div>
        </div>
        <% end %>

        <% else %>
        <%= render 'partials/login_msg' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
