<%= render "partials/resource_filter" %>

<div class="col-md-9 event-subsection2">
  <div class="event-subsection2-card">
    <%= image_tag "https://user-images.githubusercontent.com/19618674/27264549-ada2ad26-5435-11e7-8a69-bf291986d6ea.png", class: "event-subsection2-image" %>
    <div class="event-subsection2-text">
      <p class="event-subsection2-header">Resources</p>
    </div>
  </div>

  <p class="bree-font">Featured</p>
  <%  @featured.each do |r| %>
  <div class="event-subsection2-text-resource">
    <div class="event-subsection2-details">
      <p class="event-subsection2-header2 bree-font26"><%= r.name %></p>
      <p class="event-paragraph-resource font-16"><%= r.description  %></p>
      <div class="div-tags">
        <p class="tags-txt">Tags:</p>
        <div class="report-button">
          <p class="tag-margin"><%= r.tags.map(&:name).join(', ')  %></p>
        </div>
      </div>
      <hr/ class="event-subsection2-line">
      <div class="share-view">
        <div class="event-info1">
          <%= image_tag "icon-share.svg", class: "event-info-icon" %>
          <p class="resource-info-txt">Share PDF</p>
        </div>
        <div class="event-info1">
          <%= image_tag "icon-acrobat.svg", class: "event-info-icon" %>
          <p class="resource-info-txt"><%= link_to "View", asset_path(r.resource_file) %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <a id="results"></a>
  <p class="bree-font" id="resource-results">Results (<%= @resources_search.total_count %>)</p>
  <br>
  <%  @resources_search.each do |r| %>
  <div class="event-subsection2-text-resource">
    <div class="event-subsection2-details">
      <p class="event-subsection2-header2 bree-font26"><%= r.name %></p>
      <p class="event-paragraph-resource"><%= r.description  %></p>
      <div class="div-tags">
        <p class="tags-txt">Tags:</p>
        <div class="report-button">

          <p class="tag-margin"><%= r.tags.map(&:name).join(', ')  %></p>
        </div>
      </div>
      <hr/ class="event-subsection2-line">
      <div class="share-view">
        <div class="event-info1">
          <%= image_tag "icon-share.svg", class: "event-info-icon" %>
          <p class="resource-info-txt">Share PDF</p>
        </div>
        <div class="event-info1">
          <%= image_tag "icon-acrobat.svg", class: "event-info-icon" %>
          <p class="resource-info-txt"><%= link_to "View", asset_path(r.resource_file) %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="container-fluid center-flex-content bree-font" style="align-items:center;">
    <%= paginate @resources_search, window: 2 %>
  </div>
</div>
</div>
</div>
</div>
</div>

<%= render 'partials/footer' %>
