<div class="wholePage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

        <%= render 'partials/dash_sidebar' %>

        <div class="col-md-9 dash-main-content" style="background-color:white;">
          <% if user_signed_in? %>
          <% if is_admin? %>
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                <h1 class="bree-font">Resources</h1>
                <br>

                <% @resources.each do |resource| %>
                <p class="font-16"><%= link_to resource.name, resource_path(resource) %></p>

                <hr>
                <% end %>
                <%= paginate @resources, window: 2 %>

                </div>
            </div>
          </div>
          <% end %>
          <% else %>
          <%= render 'partials/login_msg' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
