<div class="wholePage">
  <!-- First section div -->
  <div class="event-section1 event-section1-container" id="event-section1">
    <div class="container-fluid ">
      <div class="row event-row">
        <div class="col-md-3" id="event-subsection1">
          <%= image_tag "filter-header.svg", class: " filter-header-img"  %>
          <!--
          <div id="filter-header">
          <p id="#filterText">Filter</p>
          <%#= image_tag "icon-filter.svg", class: " filter-header-chevron" %>
        </div>
      -->
      <div class="">
        <%= form_tag() do %>
        <%= text_field_tag :term %>
        <%= submit_tag 'Search', class:'btn-primary' %>
        <% end %>
        <br>

        <div class="form-group">
          <label for='start_date' class="">Start Date</label>
          <input type="text" class='datepicker form date-time-width form-padding' placeholder="MM/DD/YYYY" >
          <br>
          <label for='end_date' class="">End Date &nbsp</label>
          <input type="text" class='datepicker form form-padding date-time-width' placeholder="MM/DD/YYYY">

          <script type="text/javascript">
          $(document).ready(function(){
            $('.datepicker').datepicker();
          });
          </script>

        </div>
      </div>
      <hr>

      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Topic</p>
          <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
        </div>
        <div class="collapse-for collapse in">
          <%= check_box_tag("Physical Health") %>
          <%= label_tag(:art_and_culture, "Physical Health", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("Mental Health") %>
          <%= label_tag(:art_and_culture, "Mental Health", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("Child Development") %>
          <%= label_tag(:art_and_culture, "Child Development", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("Policy") %>
          <%= label_tag(:art_and_culture, "Policy", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("Child Safety") %>
          <%= label_tag(:art_and_culture, "Child Safety", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>

      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Resource Covers</p>
          <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
        </div>
        <div class="collapse-for collapse in">
          <%= check_box_tag("Delta") %>
          <%= label_tag(:art_and_culture, "Delta", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("BC") %>
          <%= label_tag(:art_and_culture, "BC", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("Canada") %>
          <%= label_tag(:art_and_culture, "Canada", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>


      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Children Aged</p>
          <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
        </div>
        <div class="collapse-for collapse in">
          <%= check_box_tag("0-5 years") %>
          <%= label_tag(:art_and_culture, "0-5 years", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("6-12 years") %>
          <%= label_tag(:art_and_culture, "6-12 years", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>

      <div class="filterCard">
        <div class="filter-header-container">
          <p class="filterCard-header1">Type of Resource</p>
          <a data-toggle="collapse" data-target=".collapse-for"><%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron a-chevron"  %></a>
        </div>
        <div class="collapse-for collapse in">
          <%= check_box_tag("Tips & Guidelines") %>
          <%= label_tag(:art_and_culture, "Tips & Guidelines", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("Report") %>
          <%= label_tag(:art_and_culture, "Report", class:'radio-spacing font-16') %>
          <br>
          <%= check_box_tag("Report") %>
          <%= label_tag(:art_and_culture, "Research", class:'radio-spacing font-16') %>
          <br>
          <hr/ class="filterCard-line">
        </div>
      </div>
      <div class="center-flex-content">
        <%= submit_tag 'Filter', class:"btn-primary btn-lg filter-btn" %>
      </div>
      <div class="center-flex-content">
        <%= button_to "Add New Resource", new_resource_path, :method => "get", class:"btn-primary btn-lg filter-btn" %>
      </div>

    </div>

    <div class="col-md-9 event-subsection2">
      <div class="event-subsection2-card">
        <%= image_tag "https://user-images.githubusercontent.com/19618674/27264549-ada2ad26-5435-11e7-8a69-bf291986d6ea.png", class: "event-subsection2-image" %>
        <div class="event-subsection2-text">
          <p class="event-subsection2-header">Resources</p>
        </div>
      </div>

      <p class="bree-font">Featured</p>
      <%  @featured.each do |r| %>
      <div class="event-subsection2-text-resource">
        <div class="event-subsection2-details">
          <p class="event-subsection2-header2"><%= r.name %></p>
          <div class="event-info">
            <div>
              <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
              <p class="event-info-txt"><%= r.created_at %></p>
            </div>
          </div>
          <p class="event-paragraph-resource"><%= r.description  %></p>
          <div class="div-tags">
            <p class="tags-txt">Tags:</p>
            <div class="report-button"><p><%= r.tags.map(&:name).join(', ')  %></p></div>
          </div>
          <hr/ class="event-subsection2-line">
          <div class="share-view">
            <div class="event-info1">
              <%= image_tag "icon-share.svg", class: "event-info-icon" %>
              <p class="resource-info-txt">Share PDF</p>
            </div>
            <div class="event-info1">
              <%= image_tag "icon-acrobat.svg", class: "event-info-icon" %>
              <p class="resource-info-txt">View</p>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <p class="bree-font">Results (<%= @resources.count %>)</p>
      <br>
      <%  @resources.each do |r| %>
      <div class="event-subsection2-text-resource">
        <div class="event-subsection2-details">
          <p class="event-subsection2-header2"><%= r.name %></p>
          <div class="event-info">
            <div>
              <%= image_tag "icon-calendar.svg", class: "event-info-icon" %>
              <p class="event-info-txt"><%= r.created_at %></p>
            </div>
          </div>
          <p class="event-paragraph-resource"><%= r.description  %></p>
          <div class="div-tags">
            <p class="tags-txt">Tags:</p>
            <div class="report-button"><p><%= r.tags.map(&:name).join(', ')  %></p></div>
          </div>
          <hr/ class="event-subsection2-line">
          <div class="share-view">
            <div class="event-info1">
              <%= image_tag "icon-share.svg", class: "event-info-icon" %>
              <p class="resource-info-txt">Share PDF</p>
            </div>
            <div class="event-info1">
              <%= image_tag "icon-acrobat.svg", class: "event-info-icon" %>
              <p class="resource-info-txt">View</p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="container-fluid center-flex-content" style="width:400px; height:70px;">
        <%= paginate @resources, window: 2 %>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<%= render 'partials/footer' %>
