<div class="wholePage">
  <!-- First section div -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 content">

      <%= render 'partials/dash_sidebar' %>

      <% if user_signed_in? %>
      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content">
        <div class="">
            <br>
            <p class="dashboard-headers mobile-font-24">Create New Resource</p>

            <%= form_for @resource do |f| %>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :resource_name, "Resource Name" %>
              <%= f.text_field :resource_name, class: "form-control  " %>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :feature, "Feature Resource?" %>
              <div class="">
                <%= f.radio_button(:feature, true) %>
                <%= label_tag(:feature, "Yes", class:'radio-spacing') %>
                <%= f.radio_button(:feature, false, :checked => true) %>
                <%= label_tag(:feature, "No", class:'radio-spacing') %>
              </div>
            </div>
            <!--  FEATURE UNTIL add calender -->
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label "Resource is about the situation in: " %>
            <div class="">
              <div class="in-block">

                <%= f.radio_button(:resource_location, "Delta",:checked => true) %>
                <%= label_tag(:resource_location, "Delta", class:'radio-spacing') %>
              </div>
              <div class="in-block">
                <%= f.radio_button(:resource_location, "BC") %>
                <%= label_tag(:resource_location, "BC", class:'radio-spacing') %>
              </div>
              <div class="in-block">
                <%= f.radio_button(:resource_location, "Canada") %>
                <%= label_tag(:resource_location, "Canada", class:'radio-spacing') %>
              </div>
              <div class="in-block">
                <%= f.radio_button(:resource_location, "N/A") %>
                <%= label_tag(:resource_location, "N/A", class:'radio-spacing') %>
              </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label "Resource Type", "Resource Type: " %>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <div class="in-block">
                <%= f.radio_button(:resource_type, "Research",:checked => true) %>
                <%= label_tag(:resource_type, "Research", class:'radio-spacing') %>
              </div>
              <div class="in-block">
                <%= f.radio_button(:resource_type, "Report") %>
                <%= label_tag(:resource_type, "Report", class:'radio-spacing') %>
              </div>
              <div class="in-block">
                <%= f.radio_button(:resource_type, "Tips & Guidelines") %>
                <%= label_tag(:resource_type, "Tips & Guidelines", class:'radio-spacing') %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :Topic, class:'' %>
              <div class="form-group  dropbox-container">
                <%= f.collection_select :topic_ids,
                Topic.all,
                :id,
                :topic_name,
                {},
                { multiple: true, class: 'chosen-select form-control '}
                %>
              </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :age_group, "Age Group" %>
              <div class="form-group  dropbox-container">
                <%= f.collection_select :age_group_ids,
                AgeGroup.all,
                :id,
                :age,
                {},
                { multiple: true, class: 'chosen-select form-control '}
                %>
              </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :Tags %>
              <div class="form-group  dropbox-container">
                <%= f.collection_select :tag_ids,
                Tag.all,
                :id,
                :name,
                {},
                { multiple: true, class: 'chosen-select form-control '}
                %>
              </div>
            </div>

          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :description, class:'' %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>

          <!-- FILE UPLOADER -->
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :resource_file,"Resource File (pdf)", class: "" %>
            <%= f.file_field :resource_file, :required => true  %>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :contact_name, "Contact Name" %>
            <%= f.text_field :contact_name, class: 'form-control  ' %>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
            <%= f.label :contact_email, "Contact Email" %>
            <%= f.email_field :contact_email, class: 'form-control  ' %>
          </div>
          <br>
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field" style="padding-bottom:10%;">
            <%= f.submit class: 'btn btn-primary form-control  ' %>
          </div>
      </div>
    </div>
    </div>
    <% end %>
    <% else %>
    <%= render 'partials/login_msg' %>
    <% end %>

  </div>
</div>


<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
