<div class="wholePage">
  <!-- First section div -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

      <%= render 'partials/dash_sidebar' %>

      <div class="col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <div class="container-fluid center-flex-content">
          <div class="create-new-container">
            <br>
            <h2 class="bree-font" style="margin-top:0;margin-bottom:40px;margin-left:auto;margin-right: auto;">Create New Resource</h2>

            <%= form_for @resource do |f| %>

            <div class="form-group center-flex-content">
              <%= f.label :name, class: "label-baseline" %>
              <%= f.text_field :name, class: "form form-control form-padding event-form-width" %>
            </div>
            <hr>
            <div class="form-group center-flex-content">
              <%= f.label "Feature Resource?", class:'label-baseline caps' %>
              <div class="margin-right">
                <%= radio_button_tag(:feature, true) %>
                <%= label_tag(:feature, "Yes", class:'radio-spacing') %>
                <%= radio_button_tag(:feature, false) %>
                <%= label_tag(:feature, "No", class:'radio-spacing') %>
              </div>
            </div>
            <!--  FEATURE UNTIL add calender -->
            <div>
              <p class="bree-font" style="font-size:20px;">Feature Until</p>
              <br>
              <div class="form-group center-flex-content">
                <label for='start_date' style="margin-right:47px;">Start Date</label>
                <input type="text" class='datepicker form date-time-width' placeholder="MM/DD/YYYY" >
                <script type="text/javascript">
                $(document).ready(function(){
                  $('.datepicker').datepicker();
                });
                </script>
                <%= f.label :"Start Time", class: 'form-padding caps', style:'margin:auto;' %>
                <%= f.text_field :feature_start_time, class: 'form date-time-width' %>
              </div>
              <div class="form-group center-flex-content">
                <script type="text/javascript">
                $(document).ready(function(){
                  $('.datepicker').datepicker();
                });
                </script>
                <label for='end_date' style="margin-right:46px">End Date</label>
                <input type="text" class='datepicker form form-padding date-time-width' placeholder="MM/DD/YYYY">
                <%= f.label :"End Time", class: 'form-padding caps', style:'margin:auto;' %>
                <%= f.text_field :feature_end_time, class: 'form form-padding date-time-width' %>
              </div>
            </div>
            <hr>
            <div class="margin-right">
              <%= f.label "Resource is about the situation in: ", class:'font-16', style:'align-self: center;padding-right: 5%;' %>
            </div>
            <div class="form-group center-flex-content">
                <%= radio_button_tag(:feature_location, "Delta") %>
                <%= label_tag(:feature_location, "Delta", class:'radio-spacing') %>
                <%= radio_button_tag(:feature_location, "BC") %>
                <%= label_tag(:feature_location, "BC", class:'radio-spacing') %>
                <br>
                <%= radio_button_tag(:feature_location, "Canada") %>
                <%= label_tag(:feature_location, "Canada", class:'radio-spacing') %>
                <%= radio_button_tag(:feature_location, "N/A") %>
                <%= label_tag(:feature_location, "N/A", class:'radio-spacing') %>
            </div>

            <div class="form-group center-flex-content">
              <%= f.label :Topic, class:'label-baseline' %>
              <div class="form-group event-form-width dropbox-container">
                <%= f.collection_select :topic_ids,
                Topic.all,
                :id,
                :name,
                {},
                { multiple: true, class: 'chosen-select form-control form-padding'}
                %>
              </div>
            </div>

            <div class="form-group center-flex-content">
              <%= f.label :tags, class:'label-baseline caps' %>
              <div class="form-group event-form-width dropbox-container">
                <%= f.collection_select :age_group_ids,
                Tag.all,
                :id,
                :name,
                {},
                { multiple: true, class: 'chosen-select form-control form-padding'}
                %>
              </div>
            </div>

            <div class="form-group">
              <%#= f.label :age_group %>
              <%#= radio_button_tag(:age, "0-5") %>
              <%#= label_tag(:age, "0-5") %>
              <%#= radio_button_tag(:age, "6-12") %>
              <%#= label_tag(:age, "6-12") %>
              <%#= radio_button_tag(:age, "adult") %>
              <%#= label_tag(:age, "adult") %>
              <%#= radio_button_tag(:age, "all") %>
              <%#= label_tag(:age, "all") %>
            </div>


            <!-- <div class="form-group">
            <%= f.label :tags %>
            <%= f.text_field :tags, class: "form form-control form-padding event-form-width" %>
          </div> -->

          <div class="form-group">
            <%= f.label :description, class:'label-baseline' %>
            <%= f.text_area :description, class: 'form form-control form-padding event-form-width' %>
          </div>

          <div class="form-group">
            <%= f.label :"Contact name", class:'label-baseline caps' %>
            <%= f.text_field :contact_name, class: 'form form-control form-padding event-form-width' %>
          </div>

          <div class="form-group">
            <%= f.label :"Contact email", class:'label-baseline caps' %>
            <%= f.email_field :contact_email, class: 'form form-control form-padding event-form-width' %>
          </div>
          <br>
          <div class="form-group">
            <%= f.submit class: 'btn btn-primary form form-control form-padding event-form-width' %>
          </div>


        </div>
      </div>
    </div>
    </div>
    <% end %>
    <% else %>
    <div>
      <p>
        Dashboard section is meant to publish a Resource and/or Event. In order to proceed you must have an account with us. Please Log In or create a New User.
        <br>
        <!-- <%= link_to 'New User', signup_path, class: 'top-right-panel' %>&nbsp -->
        <!-- <div class="">
        <%= link_to 'Log In', login_path, class: 'top-right-panel' %>&nbsp
      </div> -->
    </p>
    <br>
    <p>
      If you don't want to proceed, please feel free to go elsewhere in our site.
    </p>
    <% end %>

  </div>
</div>
</div>

<!-- Rainbow Footer-->

<div class="container-fluid happy-rainbow">
  <div class="row">
    <div class="col-md-12">

      <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

    </div>
  </div>
</div>
<!-- ================================ -->
<!-- ================================ -->
<!-- ================================ -->
<!-- ================================ -->
