<div class="wholePage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 content">

        <%= render 'partials/dash_sidebar' %>

        <div class="col-xs-12 col-sm-9 col-md-9 dash-main-content" style="background-color:white;">
          <% if user_signed_in? %>
          <% if is_admin? %>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="container-fluid">
                <h1 class="bree-font mobile-font-24">Pending Resources</h1>
                <br>
                <% if @resources.count == 0 %>
                <p class="font-16"> There are no Pending Resources at this time.</p>
                <% else %>
                <% @resources.each do |resource| %>

                <p class="font-16"><%= link_to resource.resource_name, resource_path(resource) %></p>
                <div class="flex">

                <%= link_to("Approve", admin_resource_approve_path(resource), :confirm => "Approve Resource?", :method => :post, class:"btn btn-success edit-delete-btn-width form-padding")%>&nbsp
                  <%= link_to "Decline", decline_resource_path(resource), class: 'btn btn-danger edit-delete-btn-width'  %>
                </div>
                  <hr>
                <% end %>
                <% end %>
                <div class="container-fluid center-flex-content bree-font" style="align-items:center;">
                <%= paginate @resources, window: 2 %>
              </div>
              </div>
            </div>
          </div>
          <% end %>
          <% else %>
          <%= render 'partials/login_msg' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
