<div class="wholePage">
    <div class="row">
      <div class="col-xs-12 content">

        <%= render 'partials/dash_sidebar' %>

        <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content" style="background-color:white; margin:auto">
          <% if user_signed_in? %>

          <div class="row">
            <div class="col-xs-12">
              <div class="container-fluid">
                <br>
                <p class="bree-font"><%= @resource.resource_name %></p>
                <p class="font-20"><strong>Feature Resource: </strong>
                  <% if @resource.feature? %>Yes</p>
                    <% else %>
                    No</p>
                <% end %>
                <p class="font-20"><strong>Resource Location: </strong><%= @resource.resource_location %></p>
                <p class="font-20" style="white-space: pre-line;"><strong>Description: </strong><%= @resource.description %></p>
                <p class='font-20'><strong>Topics: </strong><%= @resource.topics.map(&:topic_name).join(', ') %></p>
                <p class='font-20'><strong>Age Groups: </strong><%= @resource.age_groups.map(&:age).join(', ') %></p>
                <p class='font-20'><strong>Tags: </strong><%= @resource.tags.map(&:name).join(', ') %></p>
                <p class="font-20"><strong>Uploaded File: </strong><%= link_to "View File", asset_path(@resource.resource_file) %></p>
                <p class="font-20"><strong>Contact Name: </strong><%= @resource.contact_name %></p>
                <p class="font-20"><strong>Contact Email: </strong><%= @resource.contact_email %></p>

                <br>
                <% if is_admin? %>
                <div class="center-flex-content">
                  <% if @resource.approved != true %>
                    <%= form_for @resource do |f| %>
                      <%= f.hidden_field :approved, value: true %>
                      <%= f.submit 'Approve', class: 'btn btn-success edit-delete-btn-width form-padding' %>
                      <% end %>
                      <%= link_to "Decline", decline_resource_path(@resource), class: 'btn btn-danger edit-delete-btn-width' ,style:"margin-left:5%;" %>
                  <% end %>
                </div>
                <br>
                <div class="center-flex-content">

                  <%= link_to 'Edit', edit_resource_path(@resource),
                  class: 'btn btn-success form-padding edit-delete-btn-width',style:"margin-right:5%;"  %>

                  <%= link_to 'Delete', resource_path(@resource),
                  method: :delete,
                  data: {confirm: 'Are you sure?'},
                  class: 'btn btn-danger edit-delete-btn-width', style:'color:white !important;' %>
                </div>
                    <% elsif @resource.approved? %>
                    <% else  %>

                    <div class="center-flex-content">

                      <%= link_to 'Edit', edit_resource_path(@resource),
                      class: 'btn btn-success form-padding edit-delete-btn-width',style:"margin-right:5%;"  %>
                    </div>
                    <% end %>
                    <br>
                    <br>

                <% if is_admin? %><% else %>
                <p class="font-16">
                  * Please Note: You may only edit your request while it is still pending. When your request for a new Resource has been processed any further changes must be done by an Admin.
                </p>
                <br>
                <% end %>

              </div>
            </div>
          </div>

          <% else %>
          <%= render 'partials/login_msg' %>
        </div>
        <% end %>
      </div>
    </div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
