<div class="wholePage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

        <%= render 'partials/dash_sidebar' %>

        <div class="col-md-9 dash-main-content" style="background-color:white; margin:auto">
          <% if user_signed_in? %>

          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                <br>
                <p class="bree-font"><%= @resource.name %></p>
                <p class="font-20"><strong>Feature Resource: </strong><%= @resource.feature %></p>
              
                <h4>Commented Out Feated Date and Time</h4>
                <p class="font-20"><strong>Resource Location: </strong><%= @resource.resource_location %></p>
                <p class="font-20"><strong>Description: </strong><%= @resource.description %></p>
                <p class="font-20"><strong>Uploaded File: </strong><%= link_to "View File", asset_path(@resource.resource_file) %></p>
                <p class="font-20"><strong>Contact Name: </strong><%= @resource.contact_name %></p>
                <p class="font-20"><strong>Contact Email: </strong><%= @resource.contact_email %></p>

                <%= link_to 'Delete', resource_path(@resource),
                method: :delete,
                data: {confirm: 'Are you sure?'},
                class: 'btn btn-danger edit-delete-btn-width', style:'color:white !important;' %>

                <%= link_to 'Edit', edit_resource_path(@resource),
                class: 'btn btn-success form-padding edit-delete-btn-width'  %>
                <br>
                <br>
                <% if user_signed_in? %>
                <% if is_admin? %><% else %>
                <p class="font-16">
                  * Please Note: You may only edit your request while it is still pending. When your request for a new Resource has been processed any further changes must be done by an Admin.
                </p>
                <br>
                <% end %>
                <% end %>

              </div>
            </div>
          </div>

          <% else %>
          <%= render 'partials/login_msg' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
