
<div class="container new-admin-form2">
    <p class="font-20"><strong>Resource Name: </strong><%= @resource.name %></p>
    <p class="font-20"><strong>Feature Resource: </strong><%= @resource.feature %></p>
    <p class="font-20"><strong>Feature Start Date: </strong><%= @resource.feature_start_date %></p>
    <p class="font-20"><strong>Feature Start Time: </strong><%= @resource.feature_start_time %></p>
    <p class="font-20"><strong>Feature End Date: </strong><%= @resource.feature_end_date %></p>
    <p class="font-20"><strong>Feature End Time: </strong><%= @resource.feature_end_time %></p>
    <p class="font-20"><strong>Resource Location: </strong><%= @resource.resource_location %></p>
    <p class="font-20"><strong>Description: </strong><%= @resource.description %></p>
    <p class="font-20"><strong>Contact Name: </strong><%= @resource.contact_name %></p>
    <p class="font-20"><strong>Contact Email: </strong><%= @resource.contact_email %></p>
</div>

<%= render 'partials/footer' %>
