<div class="wholePage">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 content">

    <%= render 'partials/dash_sidebar' %>

    <div class="col-md-9 dash-main-content" style="background-color:white;">
      <div class="container-fluid center-flex-content">
        <div class="">
        <p class="bree-font center-flex-content" style="margin-top:50px;">Add New Activity Type</p>
      <% if user_signed_in? %>
        <%= @activityType.errors.full_messages.join(', ') %>

        <%= form_for @activityType do |f| %>
        <div class="form-group">
          <%= f.label :Activity_name, class:'caps form-padding' %>
          </div>
          <div class="form-group">
          <%= f.text_field :name, class: "form form-control form-padding event-form-width", style:"display:block;" %>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-primary form form-padding form-control  event-form-width' %>
        </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>
</div>
</div>

<div class="container-fluid happy-rainbow">
  <div class="row">
    <div class="col-md-12">

      <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

    </div>
  </div>
</div>
