<div class="wholePage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

        <%= render 'partials/dash_sidebar' %>

        <div class="col-md-9 dash-main-content" style="background-color:white;">
          <% if user_signed_in? %>
          <% if is_admin? %>
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                <h1 class="bree-font">Organizations</h1>
                <br>
                <% @organizations.each do |organization| %>
                <p class="font-16"><%= link_to organization.name, organization_path(organization) %></p>

                <hr>
                <% end %>
                <div class="container-fluid center-flex-content bree-font" style="align-items:center;">
                  <%= paginate @organizations, window: 2 %>
                </div>

              </div>
            </div>
          </div>
          <% end %>
          <% else %>
          <%= render 'partials/login_msg' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
