
<div class="wholePage">
  <!-- First section div -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 content">

      <%= render 'partials/dash_sidebar' %>

      <div class="col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <div class="container-fluid center-flex-content">
          <div class="create-new-container">
            <br>
            <p class="dashboard-headers">Create New Organization</p>

            <%= form_for @organization do |f| %>
            <div class="form-group center-flex-content">
              <%= f.label :name, class: "label-baseline" %>
              <%= f.text_field :name, class: "form form-control form-padding event-form-width", :required => true %>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :address, class: "label-baseline" %>
              <%= f.text_field :address, class: "form form-control form-padding event-form-width", :required => true %>
            </div>
            <h3>Logo Image Upload Placeholder</h3>
            <h3>Activity/Service Image Upload Placeholder</h3>
            <div class="form-group center-flex-content">
              <%= f.label :website, class: "label-baseline" %>
              <%= f.text_field :website, class: "form form-control form-padding event-form-width", :required => true %>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :phone_number, class: "label-baseline caps" %>
              <%= f.telephone_field :phone, class: "form form-control form-padding event-form-width", :required => true %>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :Age_group, class:'label-baseline caps' %>
              <div class="form-group event-form-width dropbox-container">
                <%= f.collection_select :age_group_ids,
                AgeGroup.all,
                :id,
                :age,
                {},
                { multiple: true, class: 'chosen-select form-control form-padding'}
                %>
              </div>
            </div>
            <div class="form-group center-flex-content">
              <%= f.label :activity_types, class:'label-baseline caps' %>
              <div class="form-group event-form-width dropbox-container">
                <%= f.collection_select :program_type_ids,
                ProgramType.all,
                :id,
                :name,
                {},
                { multiple: true, class: 'chosen-select form-control form-padding' }
                %>
              </div>
            </div>

            <div class="form-group center-flex-content">
              <%= f.label :tags, class:'label-baseline caps' %>
              <div class="form-group event-form-width dropbox-container">
                <%= f.collection_select :age_group_ids,
                Tag.all,
                :id,
                :name,
                {},
                { multiple: true, class: 'chosen-select form-control form-padding'}
                %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :description, class:'label-baseline' %>
              <%= f.text_area :description, class: 'form form-control form-padding event-form-width caps', :required => true %>
            </div>

            <div class="form-group center-flex-content">
              <%= f.label :target_clientele, class:"label-baseline caps" %>
              <div class="form-group event-form-width dropbox-container">
                <%= select_tag(:target_clientele, options_for_select(
                [
                  ['Pregnancy & Babies', 1],
                  ['something goes here', 2],
                  ['random thing', 3],
                  ['more stuff', 4]
                  ]))
                  %>
                </div>
              </div>
              <br>
              <div class="form-group center-flex-content">
                <%= f.label :service, class:"label-baseline caps" %>
                <div class="form-group event-form-width dropbox-container">
                  <%= select_tag(:services, options_for_select(
                  [
                    ['Help in Crisis', 1],
                    ['another service', 2],
                    ['hello world', 3],
                    ['random service', 4]
                    ]))
                    %>
                  </div>
                </div>

                <br>
                <div class="form-group">
                  <%= f.submit class: 'btn btn-primary form-control' %>
                </div>
                <% end %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        </div>


        <div class="container-fluid happy-rainbow">
          <div class="row">
            <div class="col-md-12">

              <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

            </div>
          </div>
        </div>
