<div class="container">
  <div class="jumbotron">
    <h1>Organization show</h1>
    <h4><%= @organization.name %></h4>
    <p><strong>description: </strong><%= @organization.description %></p>
    <p><strong>Address: </strong><%= @organization.address %></p>
    <p><strong>Phone_number: </strong><%= @organization.phone %></p>
    <p><strong>Website: </strong><%= @organization.website %></p>
    <% @organization.program_types.each do |activityType|  %>
    <p><strong>Activity type: </strong><%= activityType.name %></p>
    <% end %>
  </div>
</div>
