<div class="wholePage">
  <!-- First section div -->
    <div class="row">
      <div class="col-xs-12 content">

      <%= render 'partials/dash_sidebar' %>

      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <% if is_admin? %>
        <div class="">
            <br>
            <p class="dashboard-headers mobile-font-24">Create What's New Item</p>

            <%= form_for @whats_new_item do |f| %>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :title, class: "" %>
              <%= f.text_field :title, class: 'form-control', :required => true %>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :description, class:'' %>
              <%= f.text_area :description, class: 'form-control ', :required => true %>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :address, class:'' %>
              <%= f.text_field :address, class: 'form-control ' %>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :phone, class:'' %>
              <%= f.text_field :phone, class: 'form-control ' %>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :email, class:'' %>
              <%= f.text_field :email, class: 'form-control ' %>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :website, class:'' %>
              <%= f.text_field :website_url, class: 'form-control ' %>
            </div>

            <!-- IMAGE UPLOADER -->
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field">
              <%= f.label :image, "Image (jpg/png/jpeg)", class: "" %>
              <%= f.file_field :image  %>
            </div>

                <br>
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2  col-md-offset-3 form-field" style="padding-bottom:10%;">
                  <%= f.submit class: 'btn btn-primary form-control  ' %>
                </div>
                </div>
                <% end %>
                <% else %>
                <%= render 'partials/login_msg' %>
                <% end %>
                <% else %>
                <%= render 'partials/login_msg' %>
                <% end %>

              </div>
            </div>
          </div>
        </div>

        <!-- Rainbow Footer-->

        <%= render 'partials/footer' %>
