<div class="wholePage">
  <div class="row">
    <div class="col-xs-12 content">

      <%= render 'partials/dash_sidebar' %>

      <div class="col-xs-12 col-sm-8 col-md-9 dash-main-content" style="background-color:white;">
        <% if user_signed_in? %>
        <div class="col-xs-12">
          <div class="container-fluid">
            <br>
            <p class="bree-font mobile-font-24">What's New Item</p>
            <br>
            <p class='font-20'><strong>Title: </strong><%= @whats_new_item.title %></p>
            <p class='font-20'><strong>Description: </strong><%= @whats_new_item.description %></p>
            <p class='font-20'><strong>Address: </strong><%= @whats_new_item.address %></p>
            <p class='font-20'><strong>Phone: </strong><%= @whats_new_item.phone %></p>
            <p class='font-20'><strong>Email: </strong><%= @whats_new_item.email %></p>
            <p class='font-20'><strong>Website: </strong><%= @whats_new_item.website_url %></p>
            <p class='font-20'><strong>Image: </strong></p>
            <div class="" style="max-height:300px; max-width:500px; margin:5% auto 10% auto;">
              <%= image_tag(@whats_new_item.image_url.to_s, style:"width:100%;height:100%;") %>
            </div>
            <br>
            <% if is_admin? %>
            <div class="center-flex-content">

              <%= link_to 'Edit', edit_whats_new_item_path(@whats_new_item),
              class: 'btn btn-success form-padding edit-delete-btn-width',style:"margin-right:5%;"  %>

              <%= link_to 'Delete', whats_new_item_path(@whats_new_item),
              method: :delete,
              data: {confirm: 'Are you sure?'},
              class: 'btn btn-danger edit-delete-btn-width', style:'color:white !important;' %>
            </div>
            <br>
            <% end %>
          </div>
        </div>
        <% else %>
        <div>
          <p>
            Dashboard section is meant to publish a Resource and/or Event. In order to proceed you must have an account with us. Please Log In or create a New User.
            <br>
        </p>
        <br>
        <p>
          If you don't want to proceed, please feel free to go elsewhere in our site.
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<!-- Rainbow Footer-->

<%= render 'partials/footer' %>
