
  <!-- THIS PAGE IS NOT IN USE, home/map.html.erb FOR CORRECT PAGE -->

<div class="wholePage">
<!-- First section div -->
<div class="calendar-section1 calendar-section1-container" id="calendar-section1">
    <div class="container-fluid ">
        <div class="row calendar-row">

            <div class="col-md-4" id="calendar-subsection1">

		            <%= image_tag "filter-header.svg", class: "filter-header-img"  %>
		            <div class="filterCard">
			            <p class="filterCard-header1">For</p>
			            <div class="filter-header2">
				            <p class="filterCard-header2">Everybody</p>
				            <%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron"  %>
			            </div>
			            <p class="filterCard-list">0-6 year olds</p>
			            <p class="filterCard-list">6-12 year olds</p>
			            <p class="filterCard-list">Parents</p>
			            <p class="filterCard-list">Child care workers or service providers</p>
			            <hr/ class="filterCard-line">
		            </div>

		            <div class="filterCard">
			            <p class="filterCard-header1">Where</p>
			            <div class="filter-header2">
				            <p class="filterCard-header2">All locations</p>
				            <%= image_tag "icon-chevron-up.svg", class: "filter-header-chevron pull-right"  %>
			            </div>
			            <p class="filterCard-list">Ladner</p>
			            <p class="filterCard-list">North Delta</p>
			            <p class="filterCard-list">Tsawwassen</p>

			            <hr/ class="filterCard-line">
		            </div>

		            <div class="filterCard">
			            <p class="filterCard-header1">When</p>
			            <p class="filterCard-list">From</p>
			            <hr/ class="filterCard-line">
			            <p class="filterCard-list">To</p>
			            <hr/ class="filterCard-line">
		            </div>

		            <div class="filterCard">
			            <p class="filterCard-header1">Cost</p>
			            <div class="filter-header2">
				            <p class="filterCard-header2">Free and paid</p>
				            <%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron"  %>
			            </div>
			            <p class="filterCard-list">Free</p>
			            <p class="filterCard-list">Paid</p>

			            <hr/ class="filterCard-line">
		            </div>

		            <div class="filterCard">
			            <p class="filterCard-header1">Recurrence</p>
			            <div class="filter-header2">
				            <p class="filterCard-header2">Ongoing and Events</p>
				            <%= image_tag "icon-chevron-up.svg", class: " filter-header-chevron"  %>
			            </div>
			            <p class="filterCard-list">Ongoing</p>
			            <p class="filterCard-list">Events</p>

			            <hr/ class="filterCard-line">
		            </div>
            </div>

            <div class="col-md-8 calendar-subsection2">
	            <div class="calendar-subsection2-card">

								<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83595.7217138828!2d-123.11159588831279!3d49.09868126439793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485fce1db8802b7%3A0xe7af052ac3c8ad9b!2sDelta%2C+BC%2C+Canada!5e0!3m2!1sen!2sus!4v1497812376694" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		            <%#= image_tag "https://user-images.githubusercontent.com/19618674/27262697-1aaca1ee-5411-11e7-9bfb-4f51346fc603.png", class: "calendar-subsection2-image" %>
								<div class="calendar-subsection2-text">
									<p class="calendar-subsection2-header">Map of Delta</p>
									<div class="calendar-subsection2-text" style="background-color: #fff">
										<div class="calendar-subsection2-details">
											<p class="event-paragraph">This is Delta. It includes the communities of Tsawwassen, Ladner, and North Delta.
On the north side it is bordered by the Fraser River and 96th Avenue.
On the east side, it is bordered by Scott Road (or 120th Street).</p>
										</div>
									</div>
								</div>
	            </div>

            </div>


        </div>
    </div>
</div>

</div>
