<!DOCTYPE html>
<html>
  <head>
    <title>DeltaKidsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- google font Open Sans -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <!-- google font Bree Serif -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif">
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
      <%= render 'layouts/footer.html.erb' %>
    </div>
  </body>
</html>
